<%- include ('../components/header') %>
<%- include ('../components/navbar') %>
<%- include ('../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Data Alat</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Data Alat</h4>
                        </div>
                        <div class="col">
                            <button onClick="addData()" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button>
                        </div>
                    </div>
                    <hr>
                    <div class="dataTables_wrapper">
                        <div class="dt-buttons">
                            <!-- <a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Copy</span></a> -->
                            <!-- <a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>CSV</span></a> -->
                            <a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Excel</span></a>
                            <!-- <a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>PDF</span></a> -->
                            <a class="dt-button buttons-print" tabindex="0" aria-controls="example1" href="#"><span>Print</span></a>
                        </div>
                        <div id="example1_filter" class="dataTables_filter">
                            <label>Search:<input type="search" id="search" onkeyup="searchData(this,'<%= baseURL %>')" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                        </div>
                    </div> 
                    <table id="example1" class="table table-bordered table-striped dataTable " style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Tipe</th>
                                <th>Merk</th>
                                <th>Tahun Buat</th>
                                <th>Manufaktur</th>
                                <th>Suppli ID</th>
                                <th>Harga Sewa</th>
                                <th>Harga Beli</th>
                                <th>Kondisi</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% let i = (currentPage * 10) - 9 %> 
                            <% dataAlat.forEach(function(alat){ %> 
                            <tr>
                                <td><%= i++ %> </td>
                                <td><%= alat.nama %> </td>
                                <td><%= alat._alat_detil.type %> </td>
                                <td><%= alat._alat_detil.Merk %></td>
                                <td><%= alat._alat_detil.ThnBuat %></td>
                                <td><%= alat._alat_detil.Manufaktur %></td>
                                <td><%= alat._alat_detil.Suppli_ID %></td>
                                <td><%= alat._alat_detil.HargaSewa %></td>
                                <td><%= alat._alat_detil.HargaBeli %></td>
                                <td><%= alat._alat_detil.Kondisi %></td>
                                <td><%= alat._alat_detil.Status %></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('<%= alat.Alat_ID %> ')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('<%= alat.alat_id %>')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <% }) %> 
                        </tbody>

                    </table>
                    <div class="row mt-3">
                        <div class="col">
                            <% 
                             let number = (currentPage * 10) - 9;
                             let currentData = currentPage * 10;
                             let toNext = recordsTotal/10;
                             
                             %> 
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing <%= number %>  to <%= currentData %>  of <%= recordsTotal %>  entries</div>
                        </div>
                        <div class="col">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <% if(currentPage == 1){ %> 
                                        <li class="paginate_button next prev disabledd" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <% }else{ %> 
                                        <li class="paginate_button next prev" id="example1_previous"><a href="po?page=<%= parseInt(currentPage) - 1 %> " aria-controls="example1" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <% } %> 
                                    <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0"><%= currentPage %> </a></li>
                                    <% if(toNext > 1){ %> 
                                        <li class="paginate_button next " id="example1_next"><a href="alat?page=<%= parseInt(currentPage) + 1 %> " aria-controls="example1" data-dt-idx="2" tabindex="0"><i class="fa fa-chevron-right"></i></a></li>
                                    <% }else{ %> 
                                        <li class="paginate_button next disabledd" id="example1_next"><a href="alat?page=<%= parseInt(currentPage) + 1 %> " aria-controls="example1" data-dt-idx="2" tabindex="0"><i class="fa fa-chevron-right"></i></a></li>
                                    <% } %> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="btn_delete" type="submit" id="submit" class="btn bg-primary2">Hapus Data</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="form" class="mt-3 pr-2 pl-2" method="post">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="nama" required id="nama" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Nama">

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Tipe</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="type" required id="type" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Tipe" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Merk</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Merk"required id="merk" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Merk" >

                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Tahun Buat</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="ThnBuat" required id="thn_buat" style="background-color: #f2f4f6;border: 0;" type="date" class="form-control" placeholder="" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Manufaktur</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Manufaktur" required id="manufaktur" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Manufaktur" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Suppli ID</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Suppli_ID" required id="suppli_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Suppli ID" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Harga Sewa</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="HargaSewa" required id="harga_sewa" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Harga Sewa" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Harga Beli</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="HargaBeli" required id="harga_beli" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Harga Beli" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Kondisi</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Kondisi" required id="kondisi" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Kondisi" >

                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn bg-primary2">Perbarui Data</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

function searchData(field,base_url){
        clearTable();
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/alat/search?search='+field.value,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].nama + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.type + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.Merk + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.ThnBuat + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.Manufaktur + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.Suppli_ID + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.HargaSewa + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.HargaBeli + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.Kondisi + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.Status + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('${data[i].alat_id}')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('${data[i].alat_id}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }
    function clearTable(){
        $("#example1 tbody").empty();
    }

    function addData(base_url){
        document.getElementById("submit").innerHTML = "Tambah Data";
        document.getElementById("modal_title2").innerHTML = "Form Tambah Data";
        document.getElementById("nama").value = "";
        document.getElementById("type").value = "";
        document.getElementById("merk").value = "";
        document.getElementById("thn_buat").value = "";
        document.getElementById("manufaktur").value = "";
        document.getElementById("suppli_id").value = "";
        document.getElementById("harga_sewa").value = "";
        document.getElementById("harga_beli").value = "";
        document.getElementById("kondisi").value = "";
        document.getElementById("form").action = "alat/add";
    }

    function updateData(no_po,nama,cust_id,status,lokasi,alamat,tgl,kolektor,salekode){
        document.getElementById("submit").innerHTML = "Perbarui Data";
        document.getElementById("modal_title2").innerHTML = "Form Ubah Data";
        document.getElementById("nama_po").value = nama;
        document.getElementById("status").value = status;
        document.getElementById("no_po").value = no_po;
        document.getElementById("lokasi").value = lokasi;
        document.getElementById("alamat").value = alamat;
        document.getElementById("tgl").value = tgl;
        document.getElementById("kolektor").value = kolektor;
        document.getElementById("salekode").value = salekode;
        document.getElementById("cust_id").value = cust_id;
        document.getElementById("form").action = "po/update";
    }

    function deleteData(id){
        document.getElementById("btn_delete").href = 'alat/delete/'+id;
    }
</script>

<%- include ('../components/footer') %> 