<%- include ('../components/header') %>
<%- include ('../components/navbar') %>
<%- include ('../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
    <% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Data Customer</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Data Customer</h4>
                        </div>
                        <div class="col">
                            <button onClick="addData()" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button>
                        </div>
                    </div>
                    <hr>
                    <div class="dataTables_wrapper">
                        <div class="dt-buttons">
                            <!-- <a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Copy</span></a> -->
                            <!-- <a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>CSV</span></a> -->
                            <a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Excel</span></a>
                            <!-- <a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>PDF</span></a> -->
                            <a class="dt-button buttons-print" tabindex="0" aria-controls="example1" href="#"><span>Print</span></a>
                        </div>
                        <div id="example1_filter" class="dataTables_filter">
                            <label>Search:<input type="search" id="search" onkeyup="searchData(this,'<%= baseURL %>')" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                        </div>
                    </div> 
                    <!-- <table id="example1" class="table table-bordered table-striped dataTable js-exportable " style="width: 100%;"> -->
                    <table id="example1" class="table table-bordered table-striped dataTable" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Cust ID</th>
                                <th>Perusahaan</th>
                                <th>Alamat</th>
                                <th>Kota</th>
                                <th>Kodepos</th>
                                <th>Telepon</th>
                                <th>NPWP</th>
                                <th>Cabang</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let i = (currentPage * 10) - 9 %> 
                            <% customer.forEach(function(customers){ %> 
                            <tr>
                                <td><%= i++ %> </td>

                                <td><%= customers.Cust_id %> </td>
                                <td><%= customers.Company %> </td>
                                <td><%= customers.alamat %></td>
                                <td><%= customers.city %></td>
                                <td><%= customers.Poscode %></td>
                                <td><%= customers.Phone %></td>
                                <td><%= customers.NPWP %></td>
                                <td><%= customers.cabang %></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('<%= customers.Cust_id %>','<%= customers.Company %>','<%= customers.alamat %>','<%= customers.city %>','<%= customers.Poscode %>','<%= customers.Phone %>','<%= customers.NPWP %>','<%= customers.cabang %>')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('<%= customers.Cust_id %>')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <% }) %> 
                        </tbody>

                    </table>
                    <div class="row mt-3">
                        <div class="col">
                            <% 
                             let number = (currentPage * 10) - 9;
                             let currentData = currentPage * 10;
                             %> 
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing <%= number %>  to <%= currentData %>  of <%= recordsTotal %>  entries</div>
                        </div>
                        <div class="col">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <% if(currentPage == 1){ %> 
                                        <li class="paginate_button next prev disabledd" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <% }else{ %> 
                                        <li class="paginate_button next prev" ><a href="customer?page=<%= parseInt(currentPage) - 1 %> " aria-controls="example1" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <% } %> 
                                    <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0"><%= currentPage %> </a></li>
                                    <li class="paginate_button next " id="example1_next"><a href="customer?page=<%= parseInt(currentPage) + 1 %> " aria-controls="example1" data-dt-idx="2" tabindex="0"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="btn_delete" type="submit" id="submit" class="btn bg-primary2">Hapus Data</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="form" class="mt-3 pr-2 pl-2" method="post">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Customer ID</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Cust_id" required id="cust_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Customer ID">

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Perusahaan</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Company"required id="company" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Perusahaan" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <textarea name="alamat" required id="alamat" style="background-color: #f2f4f6;border: 0;" type="date" class="form-control"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Kota</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="city" required id="city" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Kota" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Kodepos</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Poscode" required id="kodepos" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Kodepos" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Telepon</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Phone" required id="phone" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Telepon" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">NPWP</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="NPWP" required id="npwp" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="NPWP" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Cabang</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="cabang" required id="cabang" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Cabang" >

                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id_ruang" id="id_ruang">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn bg-primary2">Perbarui Data</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function searchData(field,base_url){
        clearTable();
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/customer/search?search='+field.value,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Cust_id + '</td>');
                    tr.append('<td>' + data[i].Company + '</td>');
                    tr.append('<td>' + data[i].alamat + '</td>');
                    tr.append('<td>' + data[i].city + '</td>');
                    tr.append('<td>' + data[i].Poscode + '</td>');
                    tr.append('<td>' + data[i].Phone + '</td>');
                    tr.append('<td>' + data[i].NPWP + '</td>');
                    tr.append('<td>' + data[i].cabang + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('${data[i].Cust_id}','${data[i].Company}','${data[i].alamat}','${data[i].city}','${data[i].Poscode}','${data[i].NPWP}','${data[i].cabang}')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('${data[i].Cust_id}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }
    function clearTable(){
        $("#example1 tbody").empty();
    }
    function addData(base_url){
        document.getElementById("submit").innerHTML = "Tambah Data";
        document.getElementById("modal_title").innerHTML = "Form Tambah Data";
        document.getElementById("cust_id").value = "";
        document.getElementById("company").value = "";
        document.getElementById("alamat").value = "";
        document.getElementById("city").value = "";
        document.getElementById("kodepos").value = "";
        document.getElementById("phone").value = "";
        document.getElementById("npwp").value = "";
        document.getElementById("cabang").value = "";
        document.getElementById("form").action = "customer/add";
        document.getElementById("cust_id").readOnly = false;
    }

    function updateData(cust_id,company,alamat,city,kodepos,phone,npwp,cabang){
        document.getElementById("submit").innerHTML = "Perbarui Data";
        document.getElementById("modal_title").innerHTML = "Form Ubah Data";
        document.getElementById("cust_id").value = cust_id;
        document.getElementById("cust_id").readOnly = true;
        document.getElementById("company").value = company;
        document.getElementById("alamat").value = alamat;
        document.getElementById("city").value = city;
        document.getElementById("kodepos").value = kodepos;
        document.getElementById("phone").value = phone;
        document.getElementById("npwp").value = npwp;
        document.getElementById("cabang").value = cabang;
        document.getElementById("form").action = "customer/update";
    }

    function deleteData(id){
        document.getElementById("btn_delete").href = 'customer/delete/'+id;
    }
</script>

<%- include ('../components/footer') %> 