<%- include ('../components/header') %>
<%- include ('../components/navbar') %>
<%- include ('../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Data Invoice</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Data Invoice</h4>
                        </div>
                        <div class="col">
                            <a href="<%= baseURL %>dashboard/invoice/tambah"  style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row dataTables_wrapper">
                        <div class="col-4">
                            <div class="dt-buttons">
                                <!-- <a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Copy</span></a> -->
                                <!-- <a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>CSV</span></a> -->
                                <a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example1" href="<%= baseURL %>dashboard/invoice/export-excel"><span>Export Excel</span></a>
                                <!-- <a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" onclick="exceller()"><span>PDF</span></a> -->
                                <!-- <a class="dt-button buttons-print" tabindex="0" aria-controls="example1" href="#"><span>Print</span></a> -->
                            </div>
                        </div>
                        <div class="col-4 position-relative">
                            <select name="" id="select-customers" onchange="selectCustomers(this,'<%= baseURL %>')" class="form-control new-form-select select2" id="">
                                <option value="">SEMUA PERUSAHAAN</option>
                                <% dataCustomer.forEach(function(customers){ %> 
                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                <% }) %> 
                            </select>
                        </div>
                        <div class="col-4">
                             <div id="example1_filter" class="dataTables_filter">
                                <label>Search:<input type="search" id="search" onkeydown="searchData(this,'<%= baseURL %>')" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                             </div>
                        </div>
                    </div>
                    <table id="example1" class="table table-bordered table-striped dataTable " style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <!-- <th>Perusahaan</th> -->
                                <th>No Invoice</th>
                                <th>Project ID</th>
                                <th>Tgl Buat</th>
                                <th>PPN</th>
                                <th>Discount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% let i = (currentPage * 10) - 9 %> 
                            <% dataInvoice.forEach(function(invoice){ %> 
                            <tr>
                                <td><%= i++ %> </td>
                                <!-- <td><%=  %> </td> -->
                                <td><%= invoice.Inv_id %> </td>
                                <td><%= invoice.Projc_ID %> </td>
                                <td><%= invoice.tglbuat %></td>
                                <td><%= invoice.PPN %></td>
                                <td><%= invoice.Discont %></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                       
                                    </div>
                                </td>
                            </tr>
                            <% }) %> 
                        </tbody>

                    </table>
                    <div class="row mt-3">
                        <div class="col">
                            <% 
                             let number = (currentPage * 10) - 9;
                             let currentData = currentPage * 10;
                             %> 
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing <%= number %>  to <%= currentData %>  of <span id="records-total"><%= recordsTotal %></span>  entries</div>
                        </div>
                        <div class="col">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button next prev disabledd" id="button-prev"><a onclick="searchDataPagination('<%= baseURL %>','back')" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="paginate_button active"><a href="#" id="current-page" aria-controls="example1" data-dt-idx="1" tabindex="0"><%= currentPage %></a></li>
                                    <li class="paginate_button next " id="button-next"><a onclick="searchDataPagination('<%= baseURL %>','next')" aria-controls="example1" data-dt-idx="2" tabindex="0"><i class="fa fa-chevron-right"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="btn_delete" type="submit" id="submit" class="btn bg-primary2">Hapus Data</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function selectCustomers(field,base_url) {
        document.getElementById("current-page").innerHTML = 1
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        let idCustomers = field.value;
        clearTable();
        
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/invoice/get-data-by-customer?customers=' + idCustomers,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                let jumlahPage = count/10;
                let currentPage = document.getElementById("current-page").innerHTML;
                if(jumlahPage < currentPage){
                    
                    $("#button-next").attr("class",'paginate_button next prev disabledd');
                }else{
                    document.getElementById("button-next").classList.remove("disabledd");

                }
                document.getElementById("records-total").innerHTML = count
                
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Inv_id + '</td>');
                    tr.append('<td>' + data[i].Projc_ID + '</td>');
                    tr.append('<td>' + data[i].tglbuat + '</td>');
                    tr.append('<td>' + data[i].PPN + '</td>');
                    tr.append('<td>' + data[i].Discont + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <a  href="#" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></a>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('${data[i].Inv_id}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }

    function searchData(field,base_url){
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        clearTable();
        let customers = document.getElementById("select-customers").value;
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/invoice/search?search='+field.value+'&customers='+customers,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                let jumlahPage = count/10;
                let currentPage = document.getElementById("current-page").innerHTML;
                if(jumlahPage < currentPage){
                    
                    $("#button-next").attr("class",'paginate_button next prev disabledd');
                }else{
                    document.getElementById("button-next").classList.remove("disabledd");

                }
                document.getElementById("records-total").innerHTML = count
                document.getElementById("current-page").innerHTML = 1
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].Inv_id + '</td>');
                        tr.append('<td>' + data[i].Projc_ID + '</td>');
                        tr.append('<td>' + data[i].tglbuat + '</td>');
                        tr.append('<td>' + data[i].PPN + '</td>');
                        tr.append('<td>' + data[i].Discont + '</td>');
                        
                        tr.append(`<td><div class="d-flex justify-content-center">
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                                <a  href="#" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-edit"></i></a>
                                            </span>
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteData('${data[i].Inv_id}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>`)
                        $('#example1 tbody').append(tr);
                }
            }
        })
    }
    
    function searchDataPagination(base_url,direct) {
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        let toPage = 0;
        if(direct == 'next'){

            toPage = parseInt(page) + 1;
        }else{
            toPage = parseInt(page) - 1;

        }
        let search = document.getElementById("search").value;
        let customers = document.getElementById("select-customers").value;
        clearTable();

        $.ajax({
                type : "GET",
                dataType : 'HTML',
                url : base_url + 'dashboard/invoice/search?search='+search+'&page='+toPage+'&customers='+customers,
                success : function(response){
                    let data = JSON.parse(response).rows;
                    let count = JSON.parse(response).count;
                    // var plus = 1;
                    document.getElementById("records-total").innerHTML = count
                    document.getElementById("current-page").innerHTML = toPage
                    let page = document.getElementById("current-page").innerHTML
                    if(page == 1) {
                        $("#button-prev").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-prev").classList.remove("disabledd");

                    }
                    let jumlahPage = count/10;
                    let currentPage = document.getElementById("current-page").innerHTML;
                    if(jumlahPage < currentPage){
                        
                        $("#button-next").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-next").classList.remove("disabledd");

                    }
                    let plus = (page * 10) - 9;
                    for(let i = 0; i < count; i++){
                        var tr = $('<tr>');
                            tr.append('<td>' + plus++ + '</td>');
                            tr.append('<td>' + data[i].Inv_id + '</td>');
                            tr.append('<td>' + data[i].Projc_ID + '</td>');
                            tr.append('<td>' + data[i].tglbuat + '</td>');
                            tr.append('<td>' + data[i].PPN + '</td>');
                            tr.append('<td>' + data[i].Discont + '</td>');
                            
                            tr.append(`<td><div class="d-flex justify-content-center">
                                                <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                                    <a  href="#" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                        <i class="fa fa-edit"></i></a>
                                                </span>
                                                <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                    <button onClick="deleteData('${data[i].Inv_id}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                        <i class="fa fa-trash"></i></button>
                                                </span>
                                            </div></td>`)
                            $('#example1 tbody').append(tr);
                    }
                }
            })
    }

    function clearTable(){
        $("#example1 tbody").empty();
    }

    function deleteData(id){
        document.getElementById("btn_delete").href = 'delete?id='+id;
    }

    function exceller() {
        var uri = 'data:application/vnd.ms-excel;base64,',
        template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
        base64 = function(s) {
            return window.btoa(unescape(encodeURIComponent(s)))
        },
        format = function(s, c) {
            return s.replace(/{(\w+)}/g, function(m, p) {
            return c[p];
            })
        }
        var toExcel = document.getElementById("example1").innerHTML;
        var ctx = {
        worksheet: name || '',
        table: toExcel
        };
        var link = document.createElement("a");
        link.download = "test.xls";
        link.href = uri + base64(format(template, ctx))
        link.click();
    }

    $("#btnExport").click(function (e) {
        window.open('data:application/vnd.ms-excel,' + $('#example1').html());
        e.preventDefault();
    }); 
</script>

<%- include ('../components/footer') %> 