<%- include ('../components/header') %>
<%- include ('../components/navbar') %>
<%- include ('../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Data PO</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Data PO</h4>
                        </div>
                        <div class="col">
                            <button onClick="addData()" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button>
                        </div>
                    </div>
                    <hr>
                     <!-- <div class="dataTables_wrapper">
                       
                        <div>
                           
                        </div>
                        <div id="example1_filter" class="dataTables_filter">
                            <label>Search:<input type="search" id="search" onkeyup="searchData(this,'<%= baseURL %>')" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                        </div>
                    </div>  -->
                    <div class="row dataTables_wrapper">
                        <div class="col-4">
                            <div class="dt-buttons">
                                <!-- <a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Copy</span></a> -->
                                <!-- <a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>CSV</span></a> -->
                                <a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Excel</span></a>
                                <!-- <a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>PDF</span></a> -->
                                <a class="dt-button buttons-print" tabindex="0" aria-controls="example1" href="#"><span>Print</span></a>
                            </div>
                        </div>
                        <div class="col-4 position-relative">
                            <select name="" id="select-customers" onchange="selectCustomers(this,'<%= baseURL %>')" class="form-control new-form-select select2" id="">
                                <option value="">SEMUA PERUSAHAAN</option>
                                <% dataCustomer.forEach(function(customers){ %> 
                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                <% }) %> 
                            </select>
                        </div>
                        <div class="col-4">
                             <div id="example1_filter" class="dataTables_filter">
                                <label>Search:<input type="search" id="search" onkeyup="searchData(this,'<%= baseURL %>')" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                             </div>
                        </div>
                    </div>
                    <table id="example1" class="table table-bordered table-striped dataTable" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>No Po</th>
                                <th>Nama Po</th>
                                <th>Cust ID</th>
                                <th>Status</th>
                                <th>Lokasi</th>
                                <th>Alamat</th>
                                <th>Tanggal</th>
                                <th>Kolektor</th>
                                <th>Salekode</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let i = (currentPage * 10) - 9 %> 
                            <% dataPo.forEach(function(po){ %> 
                            <tr>
                                <td><%= i++ %> </td>
                                <td><%= po.No_PO %> </td>
                                <td><%= po.Nama_PO %> </td>
                                <td><%= po.Cust_ID %></td>
                                <td><%= po.Status %></td>
                                <td><%= po.Lokasi %></td>
                                <td><%= po.Alamat %></td>
                                <td><%= po.tgl %></td>
                                <td><%= po.kolektor %></td>
                                <td><%= po.salekode %></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('<%= po.No_PO %>','<%= po.Nama_PO %>','<%= po.Cust_ID %>','<%= po.Status %>','<%= po.Lokasi %>','<%= po.Alamat %>','<%= po.tgl %>','<%= po.kolektor %>','<%= po.salekode %>')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('<%= po.No_PO %>')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <% }) %> 
                        </tbody>

                    </table>
                    <div class="row mt-3">
                        <div class="col">
                            <% 
                             let number = (currentPage * 10) - 9;
                             let currentData = currentPage * 10;
                             %> 
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing <%= number %>  to <%= currentData %>  of <span id="records-total"><%= recordsTotal %></span>  entries</div>
                        </div>
                        <div class="col">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button next prev disabledd" id="button-prev"><a onclick="searchDataPagination('<%= baseURL %>','back')" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="paginate_button active"><a href="#" id="current-page" aria-controls="example1" data-dt-idx="1" tabindex="0"><%= currentPage %></a></li>
                                    <li class="paginate_button next " id="button-next"><a onclick="searchDataPagination('<%= baseURL %>','next')" aria-controls="example1" data-dt-idx="2" tabindex="0"><i class="fa fa-chevron-right"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="btn_delete" type="submit" id="submit" class="btn bg-primary2">Hapus Data</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="form" class="mt-3 pr-2 pl-2" method="post">
                    <!-- <div class="form-group row">
                        <label for="" class="col-sm-2">NO PO</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="No_PO" required id="no_po" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="No PO">

                            </div>
                        </div>
                    </div> -->
                    <input type="hidden" name="No_PO" id="no_po">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Nama PO</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Nama_PO"required id="nama_po" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Nama PO" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Cust ID</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="Cust_ID" required id="cust_id" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;"  class="form-control select2">
                                    <option value="">-- Pilih Cust ID --</option>
                                    <% dataCustomer.forEach(function(customers){ %> 
                                    <option value="<%= customers.Cust_id %>"><%= customers.Company %></option>
                                    <% }) %> 
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Status</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Status" required id="status" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Status" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Lokasi</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Lokasi" required id="lokasi" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Lokasi" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <textarea name="Alamat" required id="alamat" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control"></textarea>  

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Tanggal</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="tgl" required id="tgl" style="background-color: #f2f4f6;border: 0;" type="date" class="form-control" placeholder="NPWP" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Kolektor</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="kolektor" required id="kolektor" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Kolektor" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Salekode</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="salekode" required id="salekode" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Salekode" >

                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn bg-primary2">Perbarui Data</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function selectCustomers(field,base_url) {
        document.getElementById("current-page").innerHTML = 1
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        let idCustomers = field.value;
        clearTable();
        
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/po/get-data-by-customers?customers=' + idCustomers,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                let jumlahPage = count/10;
                let currentPage = document.getElementById("current-page").innerHTML;
                if(jumlahPage < currentPage){
                    
                    $("#button-next").attr("class",'paginate_button next prev disabledd');
                }else{
                    document.getElementById("button-next").classList.remove("disabledd");

                }
                document.getElementById("records-total").innerHTML = count
                
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].No_PO + '</td>');
                    tr.append('<td>' + data[i].Nama_PO + '</td>');
                    tr.append('<td>' + data[i].Cust_ID + '</td>');
                    tr.append('<td>' + data[i].Status + '</td>');
                    tr.append('<td>' + data[i].Lokasi + '</td>');
                    tr.append('<td>' + data[i].Alamat + '</td>');
                    tr.append('<td>' + data[i].tgl + '</td>');
                    tr.append('<td>' + data[i].kolektor + '</td>');
                    tr.append('<td>' + data[i].salekode + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('${data[i].No_PO}','${data[i].Nama_PO}','${data[i].Cust_ID}','${data[i].Status}','${data[i].Lokasi}','${data[i].Alamat}','${data[i].tgl}','${data[i].kolektor}','${data[i].salekode}')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('${data[i].No_PO}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }

    function searchDataPagination(base_url,direct) {
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        let toPage = 0;
        if(direct == 'next'){

            toPage = parseInt(page) + 1;
        }else{
            toPage = parseInt(page) - 1;

        }
        let search = document.getElementById("search").value;
        let customers = document.getElementById("select-customers").value;
        clearTable();

        $.ajax({
                type : "GET",
                dataType : 'HTML',
                url : base_url + 'dashboard/po/search?search='+search+'&page='+toPage+'&customers='+customers,
                success : function(response){
                    let data = JSON.parse(response).rows;
                    let count = JSON.parse(response).count;
                    // var plus = 1;
                    document.getElementById("records-total").innerHTML = count
                    document.getElementById("current-page").innerHTML = toPage
                    let page = document.getElementById("current-page").innerHTML
                    if(page == 1) {
                        $("#button-prev").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-prev").classList.remove("disabledd");

                    }
                    let jumlahPage = count/10;
                    let currentPage = document.getElementById("current-page").innerHTML;
                    if(jumlahPage < currentPage){
                        
                        $("#button-next").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-next").classList.remove("disabledd");

                    }
                    let plus = (page * 10) - 9;
                    for(let i = 0; i < count; i++){
                        var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].No_PO + '</td>');
                        tr.append('<td>' + data[i].Nama_PO + '</td>');
                        tr.append('<td>' + data[i].Cust_ID + '</td>');
                        tr.append('<td>' + data[i].Status + '</td>');
                        tr.append('<td>' + data[i].Lokasi + '</td>');
                        tr.append('<td>' + data[i].Alamat + '</td>');
                        tr.append('<td>' + data[i].tgl + '</td>');
                        tr.append('<td>' + data[i].kolektor + '</td>');
                        tr.append('<td>' + data[i].salekode + '</td>');
                        
                        tr.append(`<td><div class="d-flex justify-content-center">
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                                <button onClick="updateData('${data[i].No_PO}','${data[i].Nama_PO}','${data[i].Cust_ID}','${data[i].Status}','${data[i].Lokasi}','${data[i].Alamat}','${data[i].tgl}','${data[i].kolektor}','${data[i].salekode}')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-edit"></i></button>
                                            </span>
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteData('${data[i].No_PO}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>`)
                        $('#example1 tbody').append(tr);
                    }
                }
            })
    }

    function searchData(field,base_url){
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        clearTable();
        let customers = document.getElementById("select-customers").value;
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/po/search?search='+field.value+'&customers='+customers,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                document.getElementById("records-total").innerHTML = count
                document.getElementById("current-page").innerHTML = 1
                let jumlahPage = count/10;
                let currentPage = document.getElementById("current-page").innerHTML;
                if(jumlahPage < currentPage){
                    
                    $("#button-next").attr("class",'paginate_button next prev disabledd');
                }else{
                    document.getElementById("button-next").classList.remove("disabledd");

                }
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].No_PO + '</td>');
                    tr.append('<td>' + data[i].Nama_PO + '</td>');
                    tr.append('<td>' + data[i].Cust_ID + '</td>');
                    tr.append('<td>' + data[i].Status + '</td>');
                    tr.append('<td>' + data[i].Lokasi + '</td>');
                    tr.append('<td>' + data[i].Alamat + '</td>');
                    tr.append('<td>' + data[i].tgl + '</td>');
                    tr.append('<td>' + data[i].kolektor + '</td>');
                    tr.append('<td>' + data[i].salekode + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateData('${data[i].No_PO}','${data[i].Nama_PO}','${data[i].Cust_ID}','${data[i].Status}','${data[i].Lokasi}','${data[i].Alamat}','${data[i].tgl}','${data[i].kolektor}','${data[i].salekode}')" data-toggle="modal" data-target="#modalEdit" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('${data[i].No_PO}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }
    

    function clearTable(){
        $("#example1 tbody").empty();
    }

    function addData(base_url){
        document.getElementById("submit").innerHTML = "Tambah Data";
        document.getElementById("modal_title2").innerHTML = "Form Tambah Data";
        document.getElementById("nama_po").value = "";
        document.getElementById("status").value = "";
        document.getElementById("lokasi").value = "";
        document.getElementById("alamat").value = "";
        document.getElementById("tgl").value = "";
        document.getElementById("kolektor").value = "";
        document.getElementById("salekode").value = "";
        // document.getElementById("cust_id").value = "";
        $("#cust_id").val("").change()
        document.getElementById("form").action = "po/add";
    }

    function updateData(no_po,nama,cust_id,status,lokasi,alamat,tgl,kolektor,salekode){
        document.getElementById("submit").innerHTML = "Perbarui Data";
        document.getElementById("modal_title2").innerHTML = "Form Ubah Data";
        document.getElementById("nama_po").value = nama;
        document.getElementById("status").value = status;
        document.getElementById("lokasi").value = lokasi;
        document.getElementById("alamat").value = alamat;
        document.getElementById("tgl").value = tgl;
        document.getElementById("kolektor").value = kolektor;
        document.getElementById("salekode").value = salekode;
        document.getElementById("no_po").value = no_po;
        // document.getElementById("cust_id").value = cust_id;
        $("#cust_id").val(cust_id).change()
        document.getElementById("form").action = "po/update";
    }

    function deleteData(id){
        document.getElementById("btn_delete").href = 'po/delete?id='+id;
    }
</script>

<%- include ('../components/footer') %> 