<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; <?= date('Y') ?> <a href="">DWITAMA</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
  
    </div>
  </footer>
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
  <script src="/admin/plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <!-- <script src="/admin/plugins/chart.js/Chart.min.js"></script> -->
  <!-- Sparkline -->
  <!-- <script src="/admin/plugins/sparklines/sparkline.js"></script> -->
  <!-- JQVMap -->
  <!-- <script src="/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script> -->
  <!-- jQuery Knob Chart -->
  <!-- <script src="/admin/plugins/jquery-knob/jquery.knob.min.js"></script> -->
  <!-- daterangepicker -->
  <script src="/admin/plugins/moment/moment.min.js"></script>
  <script src="/admin/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/admin/dist/js/adminlte.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <!-- <script src="/admin/dist/js/pages/dashboard.js"></script> -->
  <!-- AdminLTE for demo purposes -->
  <script src="/admin/dist/js/demo.js"></script>
  <!-- DataTables -->
  <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- bs-custom-file-input -->
  <script src="/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/admin/jquery-datatable/jquery.dataTables.js"></script>
  <script src="/admin/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/jszip.min.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/pdfmake.min.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/vfs_fonts.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
  <script src="/admin/jquery-datatable/extensions/export/buttons.print.min.js"></script>
  <script src="/admin/js/tables/jquery-datatable.js"></script>
  <script src="/admin/plugins/select2/js/select2.full.min.js"></script>
  <script src="/admin/sugar.js"></script>
  <script src="/admin/sugar.min.js"></script>
  <!-- <script>
    $(function() {
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script> -->
  
  
  <script type="text/javascript">
    $(document).ready(function() {
      bsCustomFileInput.init();
    });
  </script>
  
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script>
    $(function name(params) {
      $('.select2').select2()

      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })

    })


  </script>
  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    let message = document.getElementById("message");
    if (message != null) {
      swal({
        title: document.getElementById("title").innerHTML,
        text: message.innerHTML,
        icon: document.getElementById("icon").innerHTML,
      });
    }
  </script>
  
  
  </body>
 
  </html>