<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %> </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="icon" href="/logo.jpg" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/admin/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/admin/style.css">
  <link rel="stylesheet" href="/admin/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/admin/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.css">

 
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- DataTables -->
  <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <style>

  .bg-white {
        background-color: #FFF;
        border: none;
        border-radius: 10px;
      }
  .btn-outline-primary-2{
    background-color: transparent;
    color : #c62828 ;
    border-color : #c62828 ;
  } 
  .btn-outline-primary-dark{
    background-color: transparent;
    color : #001f3f!important ;
    border-color : #001f3f!important ;
  } 
  .btn-outline-primary-2:hover{
    background-color: #c62828;
    color : #fff ;
    border-color : #c62828 ;
  }    
  .bg-primary2{
      background-color: #c62828;
      border-color: #c62828;
      color: #FFF;
    }
  .bg-primary2:hover{
      background-color: #c62828;
      border-color: #c62828;
      color: #FFF;
    }
  btn-primary-2{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  .select2-container .select2-selection--single{
    height: 35px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    margin-top: -3px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    top : 5px !important;
  }
  .select2-container--default .select2-selection--single{
    border: none !important;
    background-color: #f2f4f6 !important;
  }
  #example1 > thead{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  #table-operator > thead{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  #table-alat > thead{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  #table-invoice-berjalan > thead{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  #table-material > thead{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  #table-non-material > thead{
    background-color: #c62828 !important;
    border-color: #c62828 !important;
    color: #FFF !important;
  }
  #example1_paginate{
    display: none;
  }
  #example2_paginate{
    float: right;
  }
  #example1_info{
    display: none;
  }
  .new-form-select{
    background-color: #f2f4f6;
    border: 0;
    width:100%;
    height:50px;
    position: relative !important;
    top: 10px;
  }
  .new-form{
    background-color: #f2f4f6;
    border: 0;
  }
  .paginate_button.next  > a {
    margin-left: 8px;
    background-color: #001f3f!important;
    border-radius: 4px !important;
  }
  .paginate_button.active  > a {
    background-color: #c62828 !important;
    border-radius: 4px;
    margin-left: 8px;
    height: 32px;
    width: 32px;
  } 
  .paginate_button.next.prev.disabledd > a {
    opacity: .6;
    cursor: not-allowed;
  }
  .paginate_button.next.disabledd > a {
    opacity: .6;
    cursor: not-allowed;
  }
  .paginate_button.previous{
    margin-right: 8px !important;
    border: none !important;
    font-weight: bold !important;
    color: #eee !important;
    background-color: #001f3f!important;
  }
  .paginate_button.previous > a:hover{
    color : #FFF;
    cursor: pointer;
  }
  .paginate_button.next > a:hover{
    color : #FFF;
    cursor: pointer;    

  }
  
  .paginate_button.next > a:focus{
    color : #FFF;
  }

  .readonly {
    color: #a2a4a6 !important;
  }
  
  .bg-white .overlay {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255,255,255,.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  

  </style>
</head>