<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 bg-navy-dark">
    <!-- Brand Logo -->
    <a href="/login/images/logodtps2.png" target="_blank" style="" class="brand-link">
      <img src="/login/images/logodtps2.png" alt="AdminLTE logo" class="" style="height:40px;width:auto;padding-left: 12px;">
      <span class="brand-text font-weight-light">Dwitama</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/admin/images/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin</a>
        </div>
      </div>
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview ">
            <% if(active == 'dashboard'){ %> 
              <a href="/dashboard/" class="nav-link activeee">
                <% }else{ %> 
                  <a href="/dashboard/" class="nav-link">
                  <% } %> 
                <i class="fas fa-home"></i>
                <p class="ml-2">
                  Home
                </p>
                </a>
  
          </li>
          <% menu.forEach(function (menus) { %> 
          <% if(menus.id_panel == open){ %>   
          <li class="nav-item has-treeview menu-open">
            <% }else{ %> 
              <li class="nav-item has-treeview ">
            <% } %> 
              <a href="#" class="nav-link">
  
              <i class="nav-icon <%= menus.icon_panel %> "></i>
              <p>
                <%= menus.text %> 
                <i class="right fas fa-angle-left"></i>
              </p>
              </a>
              <% for(let i = 0; i < menus.data.text.length; i++){ %> 
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <% if(menus.data.text[i] == active){ %> 
                      <a href="/list_pemesanan/" class="nav-link activee">
                  <% }else{ %> 
                      <a href="/list_pemesanan/" class="nav-link ">
                  <% } %> 
                      <i class="<%= menus.data.icon_panel[i] %>  nav-icon"></i>
                      <p><%= menus.data.text[i] %> </p>
                      <!-- <span class="badge bg-color-primary right">0</span> -->
                      </a>
                </li>
              </ul>
              <% } %> 
          </li>
          <% }) %> 
        </li>
  
        <li class="nav-header">lain-lain</li>
  
        <li class="nav-item">
          <a href="<?= base_url() ?>login/logout/" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Logout</p>
          </a>
        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>