<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Tambah Data Project</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Tambah Data Project</h4>
                        </div>
                        <div class="col">
                            <!-- <a href="/dashboard/project/add-project-detail" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Project Detail</a> -->
                            
                        </div>
                    </div>
                    <hr>
                    <form action="/dashboard/project/add" method="post">
                       
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Perusahaan</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select name="Cust_ID" required id="customers" onchange="selectCustomer(this,'<%= baseURL %>')" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                        <option value="">-- Pilih Perusahaan --</option>
                                        <% dataCustomer.forEach(function(customers){ %> 
                                         <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                        <% }) %>
                                    </select>   

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">No PO</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select name="NO_PO" required id="no_po" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                        <option value="">-- Pilih No PO --</option>
                                        
                                    </select>   

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project Name</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="ProjectName" required id="project_name" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Project name">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">PPN Kode</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select name="PPN_kode" required id="ppn_kode" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                        <option value="">-- Pilih PPN Kode --</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                    </select>   

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Tanggal Mulai</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="TGLMULAI" required id="tgl_mulai" style="background-color: #f2f4f6;border: 0;" type="date" class="form-control" placeholder="" >

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Jenis</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select name="Jenis" required id="jenis" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                        <option value="">-- Pilih Jenis --</option>
                                            <option value="Sewa">Sewa</option>
                                            <option value="Beli">Beli</option>
                                    </select>   

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project Title</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="project_title" required id="project_title" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Project Title" >

                                </div>
                            </div>
                        </div>  
                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                            <button type="submit" class="btn bg-navy-dark">Tambah Project</button>
                            <a href="/dashboard/project" class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="btn_delete" type="submit" id="submit" class="btn bg-primary2">Hapus Data</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function addForm(dataAlat) {
        createElementAlat(JSON.parse(dataAlat));
    }

    function selectCustomer(field,baseURL){
        let idCust = field.value;
        $.ajax({
            type : 'GET',
            dataType : 'HTML',
            url : baseURL + 'dashboard/po/get-all-po-by-customer?customers='+idCust,
            success : function(response){
                let data = JSON.parse(response);
                let rows = data.rows
                $('#no_po').html('').select2({data: [{id: '0', text: '-- Pilih No PO --'}]});
                for(let i = 0 ; i < rows.length; i++){
                    let text = rows[i].No_PO + ' || ' + rows[i].Nama_PO
                    var newOption = new Option(text,rows[i].No_PO, false, false);
                    $('#no_po').append(newOption).trigger('change');
                }
            }
        })
    }

   function createElementAlat(dataAlat){
        let autoId = document.getElementById("autoId").value;
        let plusAutoId = parseInt(autoId) + 1;
        let idAlatDetil = 'alat_detil' +plusAutoId
        let idJumlahAwal = 'jumlah_awal' +plusAutoId
        let idHargaAlat = 'harga_alat'+plusAutoId;

        // combo box alat
        var hr = document.createElement('hr');
        var formGroup = document.createElement('div');
        formGroup.setAttribute('class', 'form-group row');
        var colFirst = document.createElement("label");
        colFirst.setAttribute('class', 'col-sm-4 col-form-label');
        colFirst.innerHTML = "Alat";
        var colSecond = document.createElement('div');
        colSecond.setAttribute('class', 'col-sm-8');
        var inputGroup = document.createElement('div');
        inputGroup.setAttribute('class','input-group');
        var select = document.createElement('select');
        select.setAttribute('class', 'form-control select2');
        select.setAttribute('onchange', 'selectAlat(this,'+'"'+idAlatDetil+'"'+','+'"'+idJumlahAwal+'"'+','+'"'+idHargaAlat+'"'+')');
        select.setAttribute('name', 'Alat_ID[]');
        select.setAttribute('id', 'alat'+plusAutoId);
        
        var option = document.createElement('option');
        
        select.appendChild(option);
        inputGroup.appendChild(select);
        colSecond.appendChild(inputGroup);
        // end combo box alat

        // input harga
        var formGroupHarga = document.createElement('div');
        formGroupHarga.setAttribute('class','form-group row');
        var colLabelHarga = document.createElement('label');
        colLabelHarga.setAttribute('class', 'col-sm-4 col-form-label');
        colLabelHarga.innerHTML = "Harga";
        var colSecondHarga = document.createElement('div');
        colSecondHarga.setAttribute('class','col-sm-8');
        var inputHarga = document.createElement('div');
        inputHarga.setAttribute('class','input-group');
        var inputFormHarga = document.createElement('input');
        inputFormHarga.setAttribute('class','form-control new-form');
        inputFormHarga.setAttribute('name','Harga[]');
        inputFormHarga.setAttribute('placeholder','Harga');
        inputFormHarga.setAttribute('id','harga_alat'+plusAutoId);

        inputHarga.appendChild(inputFormHarga);
        colSecondHarga.appendChild(inputHarga);
        // end input harga

        // combo box satuan
        var formGroupSatuan = document.createElement('div');
        formGroupSatuan.setAttribute('class', 'form-group row');
        var colFirstSatuan = document.createElement("label");
        colFirstSatuan.setAttribute('class', 'col-sm-4 col-form-label');
        colFirstSatuan.innerHTML = "Alat";
        var colSecondSatuan = document.createElement('div');
        colSecondSatuan.setAttribute('class', 'col-sm-8');
        var inputGroupSatuan = document.createElement('div');
        inputGroupSatuan.setAttribute('class','input-group');
        var selectSatuan = document.createElement('select');
        selectSatuan.setAttribute('class', 'form-control select2');
        selectSatuan.setAttribute('name', 'Satuan[]');
        selectSatuan.setAttribute('id', 'satuan'+plusAutoId);
        
        var option = document.createElement('option');
        
        select.appendChild(option);
        inputGroup.appendChild(select);
        colSecond.appendChild(inputGroup);
        // end combo box satuan


        var jumlahAwal = document.createElement('input');
        jumlahAwal.setAttribute('type','hidden');
        jumlahAwal.setAttribute('name','jumlahAwal[]');
        jumlahAwal.setAttribute('id','jumlah_awal'+plusAutoId);
        
        var alatDetil = document.createElement('input');
        alatDetil.setAttribute('type','hidden');
        alatDetil.setAttribute('name','Alat_Detil[]');
        alatDetil.setAttribute('id','alat_detil'+plusAutoId);
        
        formGroup.appendChild(colFirst);
        formGroup.appendChild(colSecond);
        formGroupHarga.appendChild(colLabelHarga);
        formGroupHarga.appendChild(colSecondHarga);
        $("#group").append(hr);
        $("#group").append(jumlahAwal);
        $("#group").append(alatDetil);
        $("#group").append(formGroup);
        $("#group").append(formGroupHarga);
        $('#alat' + plusAutoId).html('').select2({data: [{id: '0', text: '-- pilih alat--'}]});
        $('#satuan' + plusAutoId).html('').select2({data: [{id: '0', text: '-- pilih satuan--'}]});
        for(let i = 0 ; i < dataAlat.length; i++){
            var newOption = new Option(dataAlat[i].nama, dataAlat[i].alat_id, false, false);
            $('#alat'+plusAutoId).append(newOption).trigger('change');
            
        }
        document.getElementById("autoId").value = plusAutoId
   }

    function selectAlat(field,alatDetil,jumlahAwal,hargaAlat){
        let idAlat = field.value;
        console.log(idAlat);
        let jenis = document.getElementById("jenis").value;
        if(jenis == ""){
            document.getElementById("notif").hidden = false
        }else{
            document.getElementById("notif").hidden = true

        }
        $.ajax({
            type  : "GET",
            dataType : 'html',
            url : 'alat/get-alat?id=' + idAlat,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById(alatDetil).value = data.Alat_Detil;
                if(jenis == "Sewa"){
                    document.getElementById(jumlahAwal).value = data.HargaSewa;
                    document.getElementById(hargaAlat).value = data.HargaSewa;
                }else if(jenis == "Beli"){
                    document.getElementById(hargaAlat).value = data.HargaBeli;
                    document.getElementById(jumlahAwal).value = data.HargaBeli;
                }
            }
        })
    }

</script>

<%- include ('../../components/footer') %> 