<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Tambah Data Project</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Tambah Detail Project</h4>
                        </div>
                        <div class="col">
                            <a href="/dashboard/project/add-project" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-undo"></i> Kembali</a>
                        </div>
                    </div>  
                    <hr>
                    <form action="<%= baseURL %>dashboard/project/add-project-detail-status" method="post">
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project ID</label>
                            <div class="col-sm-10">
                                <div class="input-group"> 
                                    <!-- <select name="PROJC_ID" onchange="selectData(this)" required id="id_project" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                        <option value="">-- Pilih Project ID --</option>
                                        <% dataProject.forEach(function(project){ %> 
                                            <option value="<%= project.Projc_ID %>"><%= project.Projc_ID %> || <%= project.project_title %></option>
                                        <% }) %> 
                                    </select>    -->
                                    <input name="PROJC_ID" value="<%= detailProject.Projc_ID %>" readonly id="id_project" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Project name">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project Name</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="ProjectName" value="<%= detailProject.ProjectName %>" readonly id="project_name" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Project name">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">No PO</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="NO_PO" id="no_po" readonly placeholder="No PO" style="background-color: #f2f4f6;border: 0;" type="text" value="<%= detailProject.NO_PO %>" class="form-control readonly"> 

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">PPN Kode</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="PPN_kode" value="<%= detailProject.PPN_kode %>" readonly id="ppn_kode" placeholder="PPN Kode" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Status</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="Status" readonly value="<%= detailProject.Status %>" id="status" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Status" >

                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Tanggal Mulai</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="TGLMULAI" readonly id="tgl_mulai"value="<%= detailProject.TGLMULAI %>" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Tanggal Mulai">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Jenis</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="Jenis" readonly id="jenis" value="<%= detailProject.Jenis %>" placeholder="Jenis" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project Title</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="project_title" readonly value="<%= detailProject.project_title%>" id="project_title" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Project Title" >

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <a data-toggle="modal" onClick="addAlat('<%= baseURL %>')" data-target="#modalAlat" href="project/add-project" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Alat</a>
                                <!-- <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                            </div>
                        </div>
                        <table id="table-alat" class="table table-bordered table-striped mt-2" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Alat ID</th>
                                    <th>Nama</th>
                                    <th>Merk/Tipe</th>
                                    <th>Harga</th>
                                    <th>Jumlah</th>
                                    <th>Satuan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>    
                        <hr>
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <button type="button" data-toggle="modal" onclick="showOperator('<%= baseURL %>')" data-target="#modalOperator" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Operator</button>
                                <!-- <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                            </div>
                        </div>
                        <table id="table-operator" class="table table-bordered table-striped mt-2" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Opr Kode</th>
                                    <th>Nama Operator</th>
                                    <th>Harga</th>
                                    <th>Jumlah</th>
                                    <th>Kode</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>  
                        <div class="d-flex justify-content-center">
                            <button class="btn bg-navy-dark mr-2" type="submit">Tambah Detail Project</button>
                            <!-- <button class="btn btn-outline-primary-2">Kembali</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalAlat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form action="" method="post"> -->
                    <div class="form-group row mt-3">
                        <label for="" class="col-sm-2">Alat</label>
                        <div class="col-sm-10">
                            <select name="Alat_ID" onchange="selectAlat(this)" required id="id_alat" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2 new-form-select">
                                <option value="0">-- Pilih Alat --</option>
                                <% dataAlat.forEach(function(alat){ %> 
                                    <option value="<%= alat.Alat_Detil %>"><%= alat._alat_detil.nama %> || <%= alat.Merk %>/<%= alat.type %></option>
                                <% }) %> 
                            </select>   
                            <p id="notif" hidden="true" style="color:red;">Silahkan Pilih Project terlebih dahulu</p>
                        </div>
                    </div>
                    <input type="hidden" id="alat_detail" name="Alat_DetIL">
                    <input type="hidden" id="jumlah_awal" name="JumlahAwal">
                    <input type="hidden" id="id_alat_project" name="id">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Harga</label>
                        <div class="col-sm-10">
                            <input name="Harga"  required id="harga" placeholder="Harga" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Satuan</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="Satuan"  required id="satuan" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                                    <option value="">-- Pilih Satuan --</option>
                                    <option value="Pcs">Pcs</option>
                                    <option value="Box">Box</option>
                                </select>   
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Jumlah</label>
                        <div class="col-sm-10">
                            <input name="Jumlah"  required id="jumlah" placeholder="Jumlah" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onClick="addData('<%= baseURL %>')"  type="submit" id="submit_alat" class="btn bg-primary2">Tambah Data</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalOperator" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title_operator">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form action="" method="post"> -->
                    <div class="form-group row mt-3">
                        <label for="" class="col-sm-2">Biaya</label>
                        <div class="col-sm-10">
                            <select name="Kd_biaya" onchange="selectOperator(this)" required id="id_operator" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2 new-form-select">
                                <option value="0">-- Pilih Operator --</option>
                                <% dataOperator.forEach(function(operator){ %> 
                                    <option value="<%= operator.KD_biaya %>"><%= operator.Nama %></option>
                                <% }) %> 
                            </select>   
                            <p id="notif" hidden="true" style="color:red;">Silahkan Pilih Project terlebih dahulu</p>
                        </div>
                    </div>
                    <input type="hidden" id="id_operator_project" name="id">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Kode</label>
                        <div class="col-sm-10">
                            <input name="kode" required id="kode_operator" placeholder="Kode" readonly style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Harga</label>
                        <div class="col-sm-10">
                            <input name="Harga"  required id="harga_operator" placeholder="Harga" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Tanggal</label>
                        <div class="col-sm-10">
                            <input name="tgl" required id="tgl_operator" placeholder="Kode" style="background-color: #f2f4f6;border: 0;width:100%;" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Satuan</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="Satuan"  required id="satuan_operator" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                                    <option value="">-- Pilih Satuan --</option>
                                    <option value="Org">Org</option>
                                </select>   
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Jumlah</label>
                        <div class="col-sm-10">
                            <input name="Jumlah" required id="jumlah_operator" placeholder="Jumlah" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_close_operator" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onClick="addOperator('<%= baseURL %>')"  type="submit" id="submit_operator" class="btn bg-primary2">Tambah Data</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDeleteAlat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data alat tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_close_alat" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btn_delete_alat" class="btn bg-primary2">Hapus Data</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDeleteOperator" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data alat tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_close_operator_delete" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btn_delete_operator" type="button" class="btn bg-primary2">Hapus Data</button>
            </div>
        </div>
    </div>
</div>
<script>
    function addData(base_URL){
            $("#submit_alat").attr("disabled","disabled");
            let projectId = $("#id_project").val();
            let noPo = $("#no_po").val();
            let alatId = $("#alat_detail").val();
            let alatIdDetail = $("#id_alat").val();
            let satuan = $("#satuan").val();
            let harga = $("#harga").val();
            let jumlah = $("#jumlah").val();   
            let jumlahAwal = $("#jumlah_awal").val(); 
            $.ajax({
                url : base_URL + 'dashboard/project/add-detail',
                type : "POST",
                data : {
                    PROJC_ID : projectId,
                    NO_PO : noPo,
                    Alat_ID : alatId,
                    Alat_DetIL : alatIdDetail,
                    Satuan : satuan,
                    Harga : harga,
                    Jumlah : jumlah,
                    JumlahAwal : jumlahAwal
                },
                cache : false,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        loadData(response.data.PROJC_ID);
                        $("#btn_close").click()
                        swal({
                            title: "Tambah Sukses",
                            text: "Alat berhasil ditambahkan",
                            icon: "success",
                        });
                    }
                }
            })

    }
    
    function clearTable(){
        $("#table-alat tbody").empty();
    }

    function cleartTableOperator(){
        $("#table-operator tbody").empty();
    }

    function addOperator(baseURL){
        $("#submit_operator").attr("disabled","disabled");
            let projectId = $("#id_project").val();
            let noPo = $("#no_po").val();
            let kdBiaya = $("#id_operator").val();
            let kode = $("#kode_operator").val();
            let harga = $("#harga_operator").val();
            let jumlah = $("#jumlah_operator").val();   
            let tgl = $("#tgl_operator").val(); 
            let satuan = $("#satuan_operator").val(); 
            $.ajax({
                url : baseURL + 'dashboard/project/add-detail-operator',
                type : "POST",
                data : {
                    PROJC_ID : projectId,
                    NO_PO : noPo,
                    Kd_biaya : kdBiaya,
                    Satuan : satuan,
                    Harga : harga,
                    Jumlah : jumlah,
                    kode : kode,
                    tgl : tgl
                },
                cache : false,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        loadDataOperator(response.data.PROJC_ID);
                        $("#btn_close_operator").click()
                        swal({
                            title: "Tambah Sukses",
                            text: "Operator berhasil ditambahkan",
                            icon: "success",
                        });
                    }
                }
            })
    }

    function updateOperator(baseURL){
        $("#submit_operator").attr("disabled","disabled");
            let projectId = $("#id_project").val();
            let noPo = $("#no_po").val();
            let kdBiaya = $("#id_operator").val();
            let kode = $("#kode_operator").val();
            let harga = $("#harga_operator").val();
            let jumlah = $("#jumlah_operator").val();   
            let tgl = $("#tgl_operator").val(); 
            let satuan = $("#satuan_operator").val(); 
            let id = $("#id_operator_project").val();
            $.ajax({
                url : baseURL + 'dashboard/project/update-detail-operator',
                type : "POST",
                data : {
                    PROJC_ID : projectId,
                    NO_PO : noPo,
                    Kd_biaya : kdBiaya,
                    Satuan : satuan,
                    Harga : harga,
                    Jumlah : jumlah,
                    kode : kode,
                    tgl : tgl,
                    id : id
                },
                cache : false,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        loadDataOperator(response.data.PROJC_ID);
                        $("#btn_close_operator").click()
                        swal({
                            title: "Update Sukses",
                            text: "Operator berhasil diperbarui",
                            icon: "success",
                        });
                    }
                }
            })
    }

    function showOperator(baseURL){
        $("#submit_operator").removeAttr('disabled');
        $("#submit_operator").removeAttr('onclick');
        $("#submit_operator").attr('onclick','addOperator("'+baseURL+'")');
        document.getElementById("modal_title_operator").innerHTML = "Form Tambah Operator"
        document.getElementById("submit_operator").innerHTML = "Tambah Operator"
        document.getElementById("notif").hidden = true
        $('#id_operator').val("0").trigger('change')
        document.getElementById("harga_operator").value= ""
        document.getElementById("jumlah_operator").value= ""
        document.getElementById("satuan_operator").value= "" 
        document.getElementById("tgl_operator").value= "" 
    }

    function showModalUpdateOperator(baseURL,kd_biaya,harga,tgl,satuan,jumlah,id){
        $("#submit_operator").removeAttr('disabled');
        $("#submit_operator").removeAttr('onclick');
        $("#submit_operator").attr('onclick','updateOperator("'+baseURL+'")');
        document.getElementById("modal_title_operator").innerHTML = "Form Update Operator"
        document.getElementById("submit_operator").innerHTML = "Perbarui Operator"
        document.getElementById("notif").hidden = true
        $('#id_operator').val(kd_biaya).trigger('change')
        document.getElementById("harga_operator").value= harga
        document.getElementById("jumlah_operator").value= jumlah
        document.getElementById("satuan_operator").value= satuan 
        document.getElementById("tgl_operator").value= tgl 
        document.getElementById("id_operator_project").value= id 
    }

    function selectData(field){
        let value = field.value;
        loadData(value);
        loadDataOperator(value)
        if(value != 0){
            $.ajax({
            type : "GET",
            dataType : 'html',
            url : '/dashboard/project/get-detail?id=' + value,
            success : function(response) {
                let data = JSON.parse(response);
                document.getElementById('project_name').value = data.ProjectName;
                document.getElementById('no_po').value = data.NO_PO;
                document.getElementById('ppn_kode').value  = data.PPN_kode;
                document.getElementById('status').value = data.Status;
                document.getElementById('jenis').value = data.Jenis;
                document.getElementById('project_title').value = data.project_title;
                document.getElementById('tgl_mulai').value = data.TGLMULAI;
            }
        })
        }
       
    }

    function loadData(value) {
        clearTable();
        $.ajax({
            type : "GET",
            dataType : 'html',
            url : "/dashboard/project/get-detail-alat?id="+value,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Alat_ID + '</td>');
                    tr.append('<td>' + data[i]._alat_detil._alat_detil.nama + '</td>');
                    tr.append('<td>' + data[i]._alat_detil.Merk + '/' + data[i]._alat_detil.type + '</td>');
                    tr.append('<td>' + data[i].Harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                    tr.append('<td>' + data[i].Jumlah + '</td>');
                    tr.append('<td>' + data[i].Satuan + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="updateAlat('<%= baseURL %>','${data[i].Alat_ID}','${data[i].Harga}','${data[i].Satuan}','${data[i].Jumlah}','${data[i].id}')" data-toggle="modal" data-target="#modalAlat" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteDataAlat('${data[i].id}')" data-toggle="modal" data-target="#modalDeleteAlat" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#table-alat tbody').append(tr);
                }
            }
        })
    } 
    
    function loadDataOperator(value){
        cleartTableOperator();
        $.ajax({
            type : "GET",
            dataType : 'html',
            url : "/dashboard/project/get-detail-operator?id="+value,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Kd_biaya + '</td>');
                    tr.append('<td>' + data[i]._biaya_dasar.Nama + '</td>');
                    tr.append('<td>' + data[i].Harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")+'</td>');
                    tr.append('<td>' + data[i].Jumlah + '</td>');
                    tr.append('<td>' + data[i].kode + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <button onClick="showModalUpdateOperator('<%= baseURL %>','${data[i].Kd_biaya}','${data[i].Harga}','${data[i].tgl}','${data[i].Satuan}','${data[i].Jumlah}','${data[i].id}')" data-toggle="modal" data-target="#modalOperator" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></button>
                                        </span>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteDataOperator('${data[i].id}')" data-toggle="modal" data-target="#modalDeleteOperator" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    $('#table-operator tbody').append(tr);
                }
            }
        })
    }

    function deleteDataAlat(id){
        $("#btn_delete_alat").click(function(){
            deleteAlat(id)
        })
    }

    function deleteAlat(id){
        $.ajax({
            type : "GET",
            url : '/dashboard/project/delete-alat?id='+id,
            success : function(response){
                console.log(response);
                if(response.statusCode == 200){
                    loadData(response.data);
                        $("#btn_close_alat").click()
                        swal({
                            title: "Hapus Sukses",
                            text: "Alat berhasil dihapus",
                            icon: "success",
                        });
                }
            }
        })
    }

    function deleteDataOperator(id){
        $("#btn_delete_operator").click(function(){
            deleteOperator(id)
        })
    }

    function deleteOperator(id){
        $.ajax({
            type : "GET",
            url : '/dashboard/project/delete-operator?id='+id,
            success : function(response){
                console.log(response);
                if(response.statusCode == 200){
                    loadDataOperator(response.data);
                        $("#btn_close_operator_delete").click()
                        swal({
                            title: "Hapus Sukses",
                            text: "Operator berhasil dihapus",
                            icon: "success",
                        });
                }
            }
        })
    }

    function addAlat(baseURL){
        $("#submit_alat").removeAttr('disabled');
        $("#submit_alat").removeAttr('onclick');
        $("#submit_alat").attr('onclick','addData("'+baseURL+'")');
        document.getElementById("modal_title").innerHTML = "Form Tambah Alat"
        document.getElementById("submit_alat").innerHTML = "Tambah Alat"
        document.getElementById("notif").hidden = true
        $('#id_alat').val("0").trigger('change')
        document.getElementById("harga").value= ""
        document.getElementById("jumlah").value= ""
        document.getElementById("satuan").value= ""
    }

    function updateData(base_URL){
        $("#submit_alat").attr("disabled","disabled");
            let projectId = $("#id_project").val();
            let noPo = $("#no_po").val();
            let alatId = $("#id_alat").val();
            let alatIdDetail = $("#alat_detail").val();
            let satuan = $("#satuan").val();
            let harga = $("#harga").val();
            let jumlah = $("#jumlah").val();   
            let jumlahAwal = $("#jumlah_awal").val(); 
            let id = $("#id_alat_project").val(); 
            $.ajax({
                url : base_URL + 'dashboard/project/update-detail',
                type : "POST",
                data : {
                    PROJC_ID : projectId,
                    NO_PO : noPo,
                    Alat_ID : alatId,
                    Alat_DetIL : alatIdDetail,
                    Satuan : satuan,
                    Harga : harga,
                    Jumlah : jumlah,
                    JumlahAwal : jumlahAwal,
                    id : id
                },
                cache : false,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        loadData(response.data.PROJC_ID);
                        $("#btn_close").click()
                        swal({
                            title: "Tambah Sukses",
                            text: "Alat berhasil diperbarui",
                            icon: "success",
                        });
                    }
                }
            })
    }

    function updateAlat(baseUrl,alatId,harga,satuan,jumlah,id){
        $("#submit_alat").removeAttr('disabled');
        $("#submit_alat").removeAttr('onclick');
        $("#submit_alat").attr('onclick','updateData("'+baseUrl+'")');
    
        document.getElementById("modal_title").innerHTML = "Form Update Alat"
        document.getElementById("submit_alat").innerHTML = "Perbarui Alat"
        document.getElementById("notif").hidden = true
        $('#id_alat').val("0").trigger('change')
        document.getElementById("harga").value= harga
        document.getElementById("jumlah").value= jumlah
        document.getElementById("id_alat_project").value= id
        $('#id_alat').val(alatId).trigger('change')
        $('#satuan').val(satuan).trigger('change')
    }

    function selectAlat(field){
        let idAlat = field.value;
        console.log(field.value);
        let jenis = document.getElementById("jenis").value;
        if(jenis == ""){
            document.getElementById("notif").hidden = false
        }else{
            document.getElementById("notif").hidden = true

        }
        $.ajax({
            type  : "GET",
            dataType : 'html',
            url : '/dashboard/alat/get-alat?id=' + idAlat,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById('alat_detail').value = data.Alat_ID;
                if(jenis == "Sewa"){
                    document.getElementById('jumlah_awal').value = data.HargaSewa;
                    document.getElementById('harga').value = data.HargaSewa;
                }else if(jenis == "Beli"){
                    document.getElementById('harga').value = data.HargaBeli;
                    document.getElementById('jumlah_awal').value = data.HargaBeli;
                }
            }
        })
    }

    function selectOperator(field){
        let idBiaya = field.value;
        let jenis = document.getElementById("jenis").value;
        if(jenis == ""){
            document.getElementById("notif").hidden = false
        }else{
            document.getElementById("notif").hidden = true

        }
        $.ajax({
            type  : "GET",
            dataType : 'html',
            url : '/dashboard/project/get-data-biaya?id=' + idBiaya,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById('kode_operator').value = data.Kode;
                document.getElementById('harga_operator').value = data.nilai;
                
            }
        })
    }
</script>

<%- include ('../../components/footer') %> 