<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Data Project</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Data Project</h4>
                        </div>
                        <div class="col">
                            <a href="/dashboard/project/add-project" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</a>
                            <!-- <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                        </div>
                    </div>
                    <hr>
                    <div class="row dataTables_wrapper">
                        <div class="col-4">
                            <div class="dt-buttons">
                                <!-- <a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Copy</span></a> -->
                                <!-- <a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>CSV</span></a> -->
                                <a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>Excel</span></a>
                                <!-- <a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" href="#"><span>PDF</span></a> -->
                                <a class="dt-button buttons-print" tabindex="0" aria-controls="example1" href="#"><span>Print</span></a>
                            </div>
                        </div>
                        <div class="col-4 position-relative">
                            <select name="" id="select-customers" onchange="selectCustomers(this,'<%= baseURL %>')" class="form-control new-form-select select2" id="">
                                <option value="">SEMUA PERUSAHAAN</option>
                                <% dataCustomer.forEach(function(customers){ %> 
                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                <% }) %> 
                            </select>
                        </div>
                        <div class="col-4">
                             <div id="example1_filter" class="dataTables_filter">
                                <label>Search:<input type="search" id="search" onkeyup="searchData(this,'<%= baseURL %>')" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                             </div>
                        </div>
                    </div>
                    
                    <table id="example1" class="table table-bordered table-striped " style="width: 100%;">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Projc ID</th>
                                <th>Project Name</th>
                                <th>No PO</th>
                                <th>PPN Kode</th>
                                <th>Status</th>
                                <th>Tgl Mulai</th>
                                <th>Jenis</th>
                                <th>Project Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let i = (currentPage * 10) - 9 %> 
                            <% dataProject.forEach(function(project){ %> 
                            <tr>
                                <td><%= i++ %> </td>
                                <td><%= project.Projc_ID %> </td>
                                <td><%= project.ProjectName %> </td>
                                <td><%= project.NO_PO %></td>
                                <td><%= project.PPN_kode %></td>
                                <td><%= project.Status %></td>
                                <td><%= project.TGLMULAI %></td>
                                <td><%= project.Jenis %></td>
                                <td><%= project.project_title %></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <% if(project.Status == 1){ %> 
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                            <a href="<%= baseURL %>dashboard/project/update-detail-project?id=<%= project.Projc_ID %>" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                <i class="fa fa-edit"></i></a>
                                        </span>
                                        <% } %>
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteData('<%= project.idtrans %>')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <% }) %> 
                        </tbody>

                    </table>
                    <div class="row mt-3">
                        <div class="col">
                            <% 
                             let number = (currentPage * 10) - 9;
                             let currentData = currentPage * 10;
                             %> 
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing <%= number %>  to <%= currentData %>  of <span id="records-total"><%= recordsTotal %></span>  entries</div>
                        </div>
                        <div class="col">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button next prev disabledd" id="button-prev"><a onclick="searchDataPagination('<%= baseURL %>','back')" data-dt-idx="0" tabindex="0"><i class="fa fa-chevron-left"></i></a></li>
                                    <li class="paginate_button active"><a href="#" id="current-page" aria-controls="example1" data-dt-idx="1" tabindex="0"><%= currentPage %></a></li>
                                    <li class="paginate_button next " id="button-next"><a onclick="searchDataPagination('<%= baseURL %>','next')" aria-controls="example1" data-dt-idx="2" tabindex="0"><i class="fa fa-chevron-right"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="btn_delete" type="submit" id="submit" class="btn bg-primary2">Hapus Data</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="form" class="mt-3 pr-2 pl-2" method="post">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Project Name</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="ProjectName" required id="project_name" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Project name">

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">No PO</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="NO_PO" required id="no_po" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                    <option value="">-- Pilih No PO --</option>
                                    <% dataPo.forEach(function(po){ %> 
                                        <option value="<%= po.No_PO %>-<%= po.cust_id %>"><%= po.No_PO %> || <%= po.Company %> </option>
                                    <% }) %> 
                                </select>   

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">PPN Kode</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="PPN_kode" required id="ppn_kode" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                    <option value="">-- Pilih PPN Kode --</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                </select>   

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Status</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="Status" required id="status" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Status" >

                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Tanggal Mulai</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="TGLMULAI" required id="tgl_mulai" style="background-color: #f2f4f6;border: 0;" type="date" class="form-control" placeholder="" >

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Jenis</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="Jenis" required id="jenis" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                    <option value="">-- Pilih Jenis --</option>
                                        <option value="Sewa">Sewa</option>
                                        <option value="Beli">Beli</option>
                                </select>   

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Project Title</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input name="project_title" required id="project_title" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control" placeholder="Project Title" >

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Alat</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="Alat_ID[]" required id="alat" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" onchange="selectAlat(this,'alat_detail','jumlah_awal','harga_alat')" type="text" class="form-control select2">
                                            <option value="">-- Pilih Alat --</option>
                                            <% dataAlat.forEach(function(alat){ %> 
                                            <option value="<%= alat.alat_id %>"><%= alat.nama %></option>
                                            <% }) %> 
                                        </select>   
        
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="alat_detail" name="Alat_Detil[]">
                            <input type="hidden" id="jumlah_awal" name="jumlahAwal[]">
                           
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Harga</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input name="Harga[]" placeholder="Harga" required id="harga_alat" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control">
                                    </div>
                                    <p id="notif" style="color:red" hidden="true">silahkan pilih jenis terlebih dahulu untuk menentukan harga !</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Satuan</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="Satuan[]" required id="satuan_alat" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                            <option value="">-- Pilih Satuan --</option>
                                                <option value="Pcs">Pcs</option>
                                                <option value="Box">Box</option>
                                        </select>   
        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Jumlah</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input name="Jumlah[]" placeholder="Jumlah" required id="jumlah_alat" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control">
                                    </div>
                                    
                                </div>
                            </div>
                            <input type="hidden" id="autoId" value="1">
                            <div id="group">
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8"> 
                                    <button type="button" onclick="addForm('<%= JSON.stringify(dataAlat)  %>')" class="btn btn-outline-primary-2">Tambah Alat</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Biaya Dasar</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="biaya_dasar[]" required id="biaya" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                            <option value="">-- Pilih Alat --</option>
                                                <option value="Sewa">Sewa</option>
                                                <option value="Beli">Beli</option>
                                        </select>   
        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Satuan</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="satuan_operator[]" required id="satuan_operator" style="background-color: #f2f4f6;border: 0;width:100%;height:50px;" type="text" class="form-control select2">
                                            <option value="">-- Pilih Alat --</option>
                                                <option value="Org">Org</option>
                                        </select>   
        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4">Harga</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input name="harga_operator[]" placeholder="Harga" required id="harga_operator" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <button class="btn btn-outline-primary-2">Tambah Operator</button>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submit" class="btn bg-primary2">Perbarui Data</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function selectCustomers(field,base_url) {
        document.getElementById("current-page").innerHTML = 1
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        let idCustomers = field.value;
        clearTable();
        
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/project/get-project-by-customers?customers=' + idCustomers,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                let jumlahPage = count/10;
                let currentPage = document.getElementById("current-page").innerHTML;
                if(jumlahPage < currentPage){
                    
                    $("#button-next").attr("class",'paginate_button next prev disabledd');
                }else{
                    document.getElementById("button-next").classList.remove("disabledd");

                }
                document.getElementById("records-total").innerHTML = count
                
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    let idTrans = data[i].idtrans;
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Projc_ID + '</td>');
                    tr.append('<td>' + data[i].ProjectName + '</td>');
                    tr.append('<td>' + data[i].NO_PO + '</td>');
                    tr.append('<td>' + data[i].PPN_kode + '</td>');
                    tr.append('<td>' + data[i].Status + '</td>');
                    tr.append('<td>' + data[i].TGLMULAI + '</td>');
                    tr.append('<td>' + data[i].Jenis + '</td>');
                    tr.append('<td>' + data[i].project_title + '</td>');
                    if(data[i].Status == 0){

                        tr.append(`<td><div class="d-flex justify-content-center">
                                          
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteData('${idTrans}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>`)
                        }else{
                        tr.append(`<td><div class="d-flex justify-content-center">
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                                <a href="<%= baseURL %>dashboard/project/update-detail-project?id=${data[i].Projc_ID}" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-edit"></i></a>
                                            </span>
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteData('${idTrans}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>`)

                    }
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }

    function searchDataPagination(base_url,direct) {
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        let toPage = 0;
        if(direct == 'next'){

            toPage = parseInt(page) + 1;
        }else{
            toPage = parseInt(page) - 1;

        }
        let search = document.getElementById("search").value;
        let customers = document.getElementById("select-customers").value;
        clearTable();

        $.ajax({
                type : "GET",
                dataType : 'HTML',
                url : base_url + 'dashboard/project/search?search='+search+'&page='+toPage+'&customers='+customers,
                success : function(response){
                    let data = JSON.parse(response).rows;
                    let count = JSON.parse(response).count;
                    // var plus = 1;
                    document.getElementById("records-total").innerHTML = count
                    document.getElementById("current-page").innerHTML = toPage
                    let page = document.getElementById("current-page").innerHTML
                    if(page == 1) {
                        $("#button-prev").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-prev").classList.remove("disabledd");

                    }
                    let jumlahPage = count/10;
                    let currentPage = document.getElementById("current-page").innerHTML;
                    if(jumlahPage < currentPage){
                        
                        $("#button-next").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-next").classList.remove("disabledd");

                    }
                    let plus = (page * 10) - 9;
                    for(let i = 0; i < count; i++){
                        var tr = $('<tr>');
                        let idTrans = data[i].idtrans;
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].Projc_ID + '</td>');
                        tr.append('<td>' + data[i].ProjectName + '</td>');
                        tr.append('<td>' + data[i].NO_PO + '</td>');
                        tr.append('<td>' + data[i].PPN_kode + '</td>');
                        tr.append('<td>' + data[i].Status + '</td>');
                        tr.append('<td>' + data[i].TGLMULAI + '</td>');
                        tr.append('<td>' + data[i].Jenis + '</td>');
                        tr.append('<td>' + data[i].project_title + '</td>');
                        if(data[i].Status == 0){

                            tr.append(`<td><div class="d-flex justify-content-center">
                                            
                                                <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                    <button onClick="deleteData('${idTrans}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                        <i class="fa fa-trash"></i></button>
                                                </span>
                                            </div></td>`)
                            }else{
                            tr.append(`<td><div class="d-flex justify-content-center">
                                                <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                                    <a href="<%= baseURL %>dashboard/project/update-detail-project?id=${data[i].Projc_ID}" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                        <i class="fa fa-edit"></i></a>
                                                </span>
                                                <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                    <button onClick="deleteData('${idTrans}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                        <i class="fa fa-trash"></i></button>
                                                </span>
                                            </div></td>`)

                        }   
                        $('#example1 tbody').append(tr);
                    }
                }
            })
    }

    function addForm(dataAlat) {
        createElementAlat(JSON.parse(dataAlat));
    }

    

    function selectAlat(field,alatDetil,jumlahAwal,hargaAlat){
        let idAlat = field.value;
        console.log(idAlat);
        let jenis = document.getElementById("jenis").value;
        if(jenis == ""){
            document.getElementById("notif").hidden = false
        }else{
            document.getElementById("notif").hidden = true

        }
        $.ajax({
            type  : "GET",
            dataType : 'html',
            url : 'alat/get-alat?id=' + idAlat,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById(alatDetil).value = data.Alat_Detil;
                if(jenis == "Sewa"){
                    document.getElementById(jumlahAwal).value = data.HargaSewa;
                    document.getElementById(hargaAlat).value = data.HargaSewa;
                }else if(jenis == "Beli"){
                    document.getElementById(hargaAlat).value = data.HargaBeli;
                    document.getElementById(jumlahAwal).value = data.HargaBeli;
                }
            }
        })
    }

    function searchData(field,base_url){
        let page = document.getElementById("current-page").innerHTML;
        if(page == 1) {
            $("#button-prev").attr("class",'paginate_button next prev disabledd');
        }else{
            document.getElementById("button-prev").classList.remove("disabledd");

        }
        clearTable();
        let customers = document.getElementById("select-customers").value;
        $.ajax({
            type : "GET",
            dataType : 'HTML',
            url : base_url + 'dashboard/project/search?search='+field.value+'&customers='+customers,
            success : function(response){
                let data = JSON.parse(response).rows;
                let count = JSON.parse(response).count;
                var plus = 1;
                document.getElementById("records-total").innerHTML = count
                document.getElementById("current-page").innerHTML = 1
                let jumlahPage = count/10;
                    let currentPage = document.getElementById("current-page").innerHTML;
                    if(jumlahPage < currentPage){
                        
                        $("#button-next").attr("class",'paginate_button next prev disabledd');
                    }else{
                        document.getElementById("button-next").classList.remove("disabledd");

                    }
                for(let i = 0; i < count; i++){
                    var tr = $('<tr>');
                    let idTrans = data[i].idtrans;
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Projc_ID + '</td>');
                    tr.append('<td>' + data[i].ProjectName + '</td>');
                    tr.append('<td>' + data[i].NO_PO + '</td>');
                    tr.append('<td>' + data[i].PPN_kode + '</td>');
                    tr.append('<td>' + data[i].Status + '</td>');
                    tr.append('<td>' + data[i].TGLMULAI + '</td>');
                    tr.append('<td>' + data[i].Jenis + '</td>');
                    tr.append('<td>' + data[i].project_title + '</td>');
                    if(data[i].Status == 0){

                        tr.append(`<td><div class="d-flex justify-content-center">
                                          
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteData('${idTrans}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>`)
                        }else{
                        tr.append(`<td><div class="d-flex justify-content-center">
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                                                <a href="<%= baseURL %>dashboard/project/update-detail-project?id=${data[i].Projc_ID}" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-edit"></i></a>
                                            </span>
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteData('${data[i].Projc_ID}')" data-toggle="modal" data-target="#modalDelete" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>`)

                    }
                    $('#example1 tbody').append(tr);
                }
            }
        })
    }

    function addData(base_url){
        document.getElementById("submit").innerHTML = "Tambah Data";
        document.getElementById("modal_title2").innerHTML = "Form Tambah Data";
        document.getElementById("project_name").value = "";
        document.getElementById("no_po").value = "";
        document.getElementById("ppn_kode").value = "";
        document.getElementById("status").value = "";
        document.getElementById("tgl_mulai").value = "";
        document.getElementById("jenis").value = "";
        document.getElementById("project_title").value = "";
        document.getElementById("form").action = base_url+ "dashboard/project/add";
    }

    function updateData(id_trans){
        document.getElementById("submit").innerHTML = "Perbarui Data";
        document.getElementById("modal_title2").innerHTML = "Form Ubah Data";
        document.getElementById("project_name").value = "";
        document.getElementById("no_po").value = "";
        document.getElementById("ppn_kode").value = "";
        document.getElementById("status").value = "";
        document.getElementById("tgl_mulai").value = "";
        document.getElementById("jenis").value = "";
        document.getElementById("project_title").value = "";
        document.getElementById("form").action = "project/update";
    }

    function deleteData(id){
        document.getElementById("btn_delete").href = 'project/delete/'+id;
    }

    function clearTable(){
        $("#example1 tbody").empty();
    }
</script>

<%- include ('../../components/footer') %> 