<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Tambah Data Invoice</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Tambah Data Invoice</h4>
                        </div>
                        <div class="col">
                            <a href="/dashboard/invoice/form-add-detil" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Invoice Detil</a>
                        </div>
                    </div>
                    <hr>
                    <form action="/dashboard/invoice/add-detil" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Perusahaan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select name="Cust_ID" onchange="selectCustomer(this,'<%= baseURL %>')"  required id="cust_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Perusahaan</option>
                                                <% dataCustomer.forEach(function(customers){ %> 
                                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                                <% }) %> 
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Lokasi</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="lokasi" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Lokasi">
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">No PO</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="no_po" placeholder="No Po" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2"style="align-self: center;">Alamat</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea 
                                            readonly id="alamat" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"></textarea>  
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Telp/Fax</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="telp"  placeholder="Telp/Fax" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Operator</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="operator" placeholder="Operator" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Tgl PO</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="tgl_po" placeholder="Tanggal PO" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                
                            </div>
                        </div>
                        <hr>
                       <div class="row">
                           <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-1" style="align-self: center;">Reference</label>
                                <div class="col-sm-11">
                                    <div class="input-group">
                                        <select onchange="viewData(this,'<%= baseURL %>')" required id="reference" name="Projc_ID" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                            <option value="">Pilih Project</option>
                                        </select>   
                                    </div>
                                </div>
                            </div>
                           </div>
                          
                       </div>
                       <hr>
                       <div class="row">
                           <label for="" class="col-sm-1">Invoice Berjalan</label>
                           <div class="col-sm-11">
                            <table id="table-invoice-berjalan" class="table table-bordered table-striped mt-2" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Merk</th>
                                        <th>Type</th>
                                        <th>Periode I</th>
                                        <th>Periode II</th>
                                        <th>Lama</th>
                                        <th>Jumlah</th>
                                        <th>Harga</th>
                                        <th>Nilai Total</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>   
                           </div>
                       </div>
                       <div class="row">
                           <label for="" class="col-sm-1">Material</label>
                           <div class="col-sm-11">
                            <table id="table-material" class="table table-bordered table-striped mt-2" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Merk</th>
                                        <th>Type</th>
                                        <th>Satuan</th>
                                        <th>Harga</th>
                                        <th>Jumlah</th>
                                        <th>Jumlah Kirim</th>
                                        <th>Nilai Total</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>   
                           </div>
                       </div>
                       
                       <div class="row">
                           <label for="" class="col-sm-1">Non Material</label>
                           <div class="col-sm-11">
                            <table id="table-non-material" class="table table-bordered table-striped mt-2" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>No BA</th>
                                        <th>KD</th>
                                        <th>Nama</th>
                                        <th>Nilai</th>
                                        <th>Kode</th>
                                        <!-- <th>Qty</th>
                                        <th>Total</th> -->
                                    </tr>
                                </thead>
                                <tbody>
    
                                </tbody>
                            </table>   
                           </div>
                       </div>
                       <hr>
                       <div class="row">
                           <label for="" class="col-sm-1">Grand Total</label>
                           <div class="col-sm-10">
                            <div class="input-group">
                                <input readonly id="grand_total" placeholder="Klik tombol hitung untuk melihat Grand Total" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                            </div>
                           </div>
                       </div>
                       <input type="hidden" id="kode_t" name="kodeT">
                       <input type="hidden"id="total_material">
                       <input type="hidden"id="total_non_material">
                       <input type="hidden"id="total_invoice_berjalan">
                       
                       
                        
                        <div class="form-group d-flex justify-content-center mt-5">
                            <button type="submit" class="btn bg-navy-dark mr-2">Tambah Invoice</button>
                            <button type="button" onclick="hitungTotal()" class="btn btn-outline-primary-dark mr-2">Hitung Grand Total</button>
                            <a href="/dashboard/invoice" class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>

    function hitungTotal(){
        let totalMaterial = document.getElementById("total_material").value;
        let totalNonMaterial = document.getElementById("total_non_material").value;
        let totalInvoiceBerjalan = document.getElementById("total_invoice_berjalan").value;
        let grandTotal = parseInt(totalMaterial) + parseInt(totalNonMaterial) + parseInt(totalInvoiceBerjalan)
        document.getElementById("grand_total").value = grandTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }
    
    function selectCustomer(field,base_url){
        let value = field.value;
        $.ajax({
            type : "GET",
            // url : base_url + 'dashboard/project/get-project-by-customers?customers='+value,
            url : base_url + 'dashboard/invoice/get-data-invoice-by-customers?customers='+value,
            success : function(response){
                let data = response.data[0]
                $('#reference').html('').select2({data: [{id: '0', text: 'Pilih Project'}]});
                for(let i = 0 ; i < data.length; i++){
                    let text = data[i].Projc_ID + ' || ' + data[i].ProjectName
                    var newOption = new Option(text,data[i].Projc_ID , false, false);
                    $('#reference').append(newOption).trigger('change');
                }
            }
        });
        $.ajax({
            type:"GET",
            dataType : 'html',
            url : base_url + 'dashboard/customer/get-data-by-id?customers=' + value,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("lokasi").value = data[0].Lokasi
                document.getElementById("no_po").value = data[0].No_PO
                document.getElementById("alamat").value = data[0].alamat
                document.getElementById("telp").value = data[0].Phone
                document.getElementById("tgl_po").value = data[0].tglPO

            }
        })
    }

    function viewData(field,baseUrl){
        let projcId = field.value
        document.getElementById('grand_total').value = 0
        if(projcId != 0){

            getDataMaterial(projcId,baseUrl)
            getDataNonMaterial(projcId,baseUrl)
            getDataInvoiceMax(projcId,baseUrl)
            console.log(document.getElementById("total_material").value);
        }
    }

    function clearTable(){
        $("#table-material tbody").empty();
        $("#table-non-material tbody").empty();
        $("#table-invoice-berjalan tbody").empty();
    }

    function getDataMaterial(projcId,baseUrl){
        clearTable()
        $.ajax({
            type : 'get',
            url: baseUrl + 'dashboard/invoice/get-data-material?projc_id='+projcId,
            success : function(response){
                let data = response.data
                let plus = 1
                let totalMaterial = 0
                for(let i = 0 ; i < data.length; i++){
                    var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].merk + '</td>');
                        tr.append('<td>' + data[i].type + '</td>');
                        tr.append('<td>' + data[i].satuan+ '</td>');
                        tr.append('<td>' + data[i].harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                        tr.append('<td>' + data[i].jumlah + '</td>');
                        tr.append('<td>' + data[i].jmlkirim + '</td>');
                        tr.append('<td>' + data[i].total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                        totalMaterial += data[i].total
                        $('#table-material tbody').append(tr);
                }
                document.getElementById("total_material").value = totalMaterial
            }
        })
    }

    function getDataNonMaterial(projcId,baseUrl){
        clearTable()
        $.ajax({
            type : 'get',
            url: baseUrl + 'dashboard/invoice/get-data-non-material?projc_id='+projcId,
            success : function(response){
                let data = response.data
                let plus = 1
                let totalNonMaterial = 0;
                for(let i = 0 ; i < data.length; i++){
                    var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].No_BA + '</td>');
                        tr.append('<td>' + data[i].KD_Biaya + '</td>');
                        tr.append('<td>' + data[i].nama+ '</td>');
                        tr.append('<td>' + data[i].nilai.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                        tr.append('<td>' + data[i].kode + '</td>');
                        totalNonMaterial += data[i].nilai
                        $('#table-non-material tbody').append(tr);
                        document.getElementById("kode_t").value = data[i].kode
                }
                document.getElementById("total_non_material").value = totalNonMaterial
                
            }
        })
    }

    function getDataInvoiceMax(projcId,baseUrl){
        clearTable()
        $.ajax({
            type : 'get',
            url: baseUrl + 'dashboard/invoice/get-data-berjalan?projc_id='+projcId,
            success : function(response){
                let data = response.data
                let plus = 1
                let totalInvoiceBerjalan = 0;
                for(let i = 0 ; i < data.length; i++){
                    var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].nama + '</td>');
                        tr.append('<td>' + data[i].type + '</td>');
                        tr.append('<td>' + data[i].priode1+ '</td>');
                        tr.append('<td>' + data[i].priode2+ '</td>');
                        tr.append('<td>' + data[i].lama+ '</td>');
                        tr.append('<td>' + data[i].jumlah+ '</td>');
                        tr.append('<td>' + data[i].harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                        tr.append('<td>' + data[i].Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                        totalInvoiceBerjalan += data[i].Total
                        $('#table-invoice-berjalan tbody').append(tr);
                }
                document.getElementById("total_invoice_berjalan").value = totalInvoiceBerjalan
            }
        })
    }
    

</script>

<%- include ('../../components/footer') %> 