<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Tambah Data Invoice</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Tambah Data Invoice</h4>
                        </div>
                        <div class="col">
                            <a href="/dashboard/invoice/add-detil" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Invoice Detil</a>
                        </div>
                    </div>
                    <hr>
                    <form action="/dashboard/invoice/add" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Perusahaan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select name="Cust_ID" onchange="selectCustomer(this,'<%= baseURL %>')"  required id="cust_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Perusahaan</option>
                                                <% dataCustomer.forEach(function(customers){ %> 
                                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                                <% }) %> 
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Lokasi</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="lokasi" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Lokasi">
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Reference</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select  required id="reference" name="Projc_ID" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Project</option>
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2"style="align-self: center;">Alamat</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea 
                                            readonly id="alamat" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"></textarea>  
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">No PO</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="no_po" placeholder="No Po" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Operator</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="operator" placeholder="Operator" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Tgl PO</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="tgl_po" placeholder="Tanggal PO" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2" style="align-self: center;">Telp/Fax</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="telp"  placeholder="Telp/Fax" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                       <div class="row">
                           <div class="col-6">
                               <div class="form-group row">
                                   <label class="col-sm-2" for="" style="align-self: center;">Nama Invoice</label>
                                   <div class="col-sm-10">
                                       <div class="input-group">
                                           <input type="text" placeholder="Nama Invoice" name="nama_invoice" class="form-control" required style="background-color: #f2f4f6;border: 0;">
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-6">
                               <div class="form-group row">
                                   <label class="col-sm-2" for="" style="align-self: center;">Biaya</label>
                                   <div class="col-sm-10">
                                       <div class="input-group">
                                           <select name="KD_biaya" required style="background-color: #f2f4f6;border: 0;" class="form-control" id="">
                                               <option value="">-- Pilih Kode Biaya--</option>
                                               <option value="MT">MT - Material</option>
                                               <option value="NMT">NMT - Non Material</option>
                                           </select>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-6">
                               <div class="form-group row">
                                   <label for="" class="col-sm-2">Bulan</label>
                                   <div class="col-sm-10">
                                       <input type="month" name="bulan" required class="form-control" style="background-color: #f2f4f6;border: 0;">
                                   </div>
                               </div>
                           </div>
                           <div class="col-6">
                               <div class="form group row">
                                   <label for="" class="col-sm-2">Periode</label>
                                   <div class="col-sm-10">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" value="1" name="nonPriode" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Periode</label>
                                        </div>
                                      <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" value="0" name="nonPriode" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Non Periode</label>
                                      </div>
                                    </div>    
                               </div>
                           </div>
                       </div>
                       
                       
                        
                        <div class="form-group d-flex justify-content-center mt-5">
                            <button type="submit" class="btn bg-navy-dark mr-2">Tambah Invoice</button>
                            <a href="/dashboard/invoice" class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    
    function selectCustomer(field,base_url){
        let value = field.value;
        $.ajax({
            type : "GET",
            url : base_url + 'dashboard/project/get-project-by-customers?customers='+value,
            dataType : 'html',
            success : function(response){
                let data = JSON.parse(response)
                let rows = data.rows
                $('#reference').html('').select2({data: [{id: '0', text: 'Pilih Project'}]});
                for(let i = 0 ; i < rows.length; i++){
                    let text = rows[i].Projc_ID + ' || ' + rows[i].ProjectName
                    var newOption = new Option(text,rows[i].Projc_ID , false, false);
                    $('#reference').append(newOption).trigger('change');
                }
            }
        });
        $.ajax({
            type:"GET",
            dataType : 'html',
            url : base_url + 'dashboard/customer/get-data-by-id?customers=' + value,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("lokasi").value = data[0].Lokasi
                document.getElementById("no_po").value = data[0].No_PO
                document.getElementById("alamat").value = data[0].alamat
                document.getElementById("telp").value = data[0].Phone
                document.getElementById("tgl_po").value = data[0].tglPO

            }
        })
    }
    

</script>

<%- include ('../../components/footer') %> 