<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
    <% if(message.length > 0){ %>
        <p style="display: none" id="message"><%= message %></p>
        <p style="display: none" id="title"><%= titleMessage %></p>
        <p style="display: none" id="icon"><%= icon %></p>
    <% } %>
    
    <div class="content-wrapper">
            
        
        <!-- Content Header (Page header) -->
        <div class="content-header ml-3 mr-3">
            <div class="container-fluid ">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                                <li class="breadcrumb-item"><a href="">Export Excel</a></li>
                            </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content ml-3 mr-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 bg-white shadow p-4 overlay">
                        <div class="row">
                            <div class="col">
                                <h4 class="color-primary text-bold mr-auto">Export Excel Invoice</h4>
                            </div>
                            <div class="col">
                                <!-- <a href="/dashboard/berita-acara/add" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Project Detail</a>
                                <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                            </div>
                        </div>
                        <hr>
                        <form action="/dashboard/surat-jalan/add" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2">Tanggal Dari</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="tgl_dari" id="tgl_dari" class="form-control">
                                            <p style="color: red;" class="mt-2 ml-3" id="rules_perusahaan" hidden="true"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2">Tanggal Sampai</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="tgl_sampai" id="tgl_sampai" class="form-control">
                                            <p style="color: red;" class="mt-2 ml-3" id="rules_project" hidden="true"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group d-flex justify-content-center">
                                <button type="button" onclick="downloadExcel('<%= baseURL %>')" class="btn bg-navy-dark mr-2">Download Excel</button>
                                
                                <a href="/dashboard/invoice/"class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </form>
                        <div class="overlay" id="loading" hidden="true">
                            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </div>
                    </div>
                </div>
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    
    function downloadExcel(base_url){
        let startDate = document.getElementById('tgl_dari').value;
        let endDate = document.getElementById('tgl_sampai').value;

        $.ajax({
            type : "POST",
            url : base_url + 'dashboard/invoice/create-excel',
            data : {
                start_date : startDate,
                end_date : endDate
            },
            cache : false,
            success : function(response){
                if(response.status == true){
                    window.location = base_url + 'dashboard/invoice/download-excel'
                    // document.getElementById("loading").hidden = true
                }else{
                    swal({
                        title: "Erorr",
                        text: response.error,
                        icon: "warning",
                    });
                }
            }
        })
    }
  
    
    function selectCustomer(field,base_url){
        let value = field.value;
        $.ajax({
            type : "GET",
            url : base_url + 'dashboard/surat-jalan/get-project-by-customers?customers='+value,
            dataType : 'html',
            success : function(response){
                let data = JSON.parse(response)
                // let rows = data.rows
                $('#reference').html('').select2({data: [{id: '0', text: 'Pilih Project'}]});
                for(let i = 0 ; i < data.length; i++){
                    let text = data[i].Projc_ID + ' || ' + data[i].ProjectName
                    var newOption = new Option(text,data[i].Projc_ID , false, false);
                    $('#reference').append(newOption).trigger('change');
                }
            }
        });
        $.ajax({
            type:"GET",
            dataType : 'html',
            url : base_url + 'dashboard/customer/get-data-by-id?customers=' + value,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("lokasi").value = data[0].Lokasi
                document.getElementById("no_po").value = data[0].No_PO
                document.getElementById("alamat").value = data[0].alamat
                document.getElementById("telp").value = data[0].Phone

            }
        })
    }
    

</script>

<%- include ('../../components/footer') %> 