<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Surat Jalan</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <style>
      .title {
        text-align: center;
        font-weight: bold;
      }

      .box-text {
        padding: 10px;
        border: 2px solid #eee;
        margin-left: 2px;
        margin-right: 2px;
      }
      .details >p span{
        margin-left: 0px;
      }
      .table-data{
        width:100%;
      }
      .logo {
        background-image: url('logodtps2.png') ;
        height: 120px;
        background-repeat:no-repeat;
        width: auto;
        background-size: contain;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://png.pngtree.com/element_origin_min_pic/16/11/02/bd886d7ccc6f8dd8db17e841233c9656.jpg" alt="AdminLTE logo" class="logo" style="height:120px;width:auto;margin-right: auto;">
      <!-- <p class="logo"></p> -->
      <h1 class="title">Daftar Surat Jalan</h1>
      <div class="box mt-3">
        <div class="row box-text">
          <div class="date" style="display: contents">
            <div class="printed">
              <p>Printed Date : <span style="margin-right:550px;">01-Nov-2021</span> <span >Last Modified : <span>01-Nov-2021</span></span>  </p>
              <hr>
              <p>Report Description :</p>
            </div>

          </div>
        </div>
      </div>
      <div class="details mt-3 " style="margin-left: 2px;"> 
        <table class="table-data">
          <tr>
            <td style="width: 100px;">No Project</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{Projc_ID}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">Nama Perusahaan</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{company}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">Lokasi/Alamat</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{location}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">No PO</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{no_po}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">No Surat Jalan</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{no_sj}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">Nama Supir</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{nama_supir}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">Tgl Berangkat</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{tgl_berangkat}}</td>
          </tr>
          <tr>
            <td style="width: 100px;">Tgl Terima</td>
            <td style="width: 1px;">:</td>
            <td style="width: 350px;text-align: left;">{{tgl_terima}}</td>
          </tr>
        </table>
      </div>
      <div class="data mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Merk</th>
              <th>Type</th>
              <th>Sat</th>
              <th>Jumlah Kirim</th>
              <th>Harga</th>
            </tr>
          </thead>
          <tbody>
            {{#each dataSjDetil}}
            <tr>
              <th>{{this.Alat_Detil}}</th>
              <td>{{this.Merk}}</td>
              <td>{{this.type}}</td>
              <td>{{this.Satuan}}</td>
              <td>{{this.JmlKirim}}</td>
              <td>{{this.Harga}}</td>
            </tr>
            {{/each}}
           
            <!-- <tr>
              <td colspan="4"></td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <!-- <ul>
        {{#each users}}
        <li>Name: {{this.name}}</li>
        <li>Age: {{this.age}}</li>
        <br />
        {{/each}}
      </ul> -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
