<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Tambah Data Project</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Tambah Data Surat Jalan</h4>
                        </div>
                        <div class="col">
                            <!-- <a href="/dashboard/berita-acara/add" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Project Detail</a>
                            <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                        </div>
                    </div>
                    <hr>
                    <form action="/dashboard/surat-jalan/add" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Perusahaan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select name="Cust_ID" onchange="selectCustomer(this,'<%= baseURL %>')"  required id="cust_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Perusahaan</option>
                                                <% dataCustomer.forEach(function(customers){ %> 
                                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                                <% }) %> 
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Lokasi</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="lokasi" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Lokasi">
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Reference</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select  required id="reference" name="Projc_ID" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Project</option>
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Alamat</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea 
                                            readonly id="alamat" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"></textarea>  
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">No PO</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="no_po" placeholder="No Po" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Operator</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="operator" placeholder="Operator" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Jabatan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="jabatan" placeholder="Jabatan" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Telp/Fax</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="telp" placeholder="Telp/Fax" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label for="" class="col-sm-1">Expedisi</label>
                                    <div class="col-sm-11">
                                        <select name="Expd_ID" onchange="selectExpedisi(this,'<%= baseURL %>')"  required id="expd_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                            <option value="">Pilih Expedisi</option>
                                            <% dataExpedisi.forEach(function(expedisi){ %> 
                                            <option value="<%= expedisi.Expd_ID %>"><%= expedisi.Nm_Supir %> || <%= expedisi.NoTruk %></option>
                                            <% }) %> 
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Supir</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly name="NamaSupir" id="nm_supir" placeholder="Nama Supir" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">No Polis</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly name="NoPolis" id="no_polis" placeholder="No Polis" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">No Telp</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly name="NoHpSupir" id="no_telp" placeholder="No Telpone" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Kategori</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly name="katagori" id="kategori" placeholder="Kategori" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Tgl Berangkat</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input name="TglBrk" required  style="background-color: #f2f4f6;border: 0;" type="date" class="form-control">
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Tgl Perk. Sampai</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input name="TglPerkSampai" required  style="background-color: #f2f4f6;border: 0;" type="date" class="form-control" placeholder="" >
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-1">Keterangan</label>
                            <div class="col-sm-11">
                                <div class="input-group">
                                    <textarea name="Ket" required  style="background-color: #f2f4f6;border: 0;"  class="form-control" placeholder="" ></textarea>

                                </div>
                            </div>
                        </div>
                        <hr>
                       
                       
                       
                        
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn bg-navy-dark mr-2">Tambah Master Surat Jalan</button>
                            <a href="/dashboard/surat-jalan" class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    function selectExpedisi(field,base_url){
        let id = field.value;
        $.ajax({
            type : 'GET',
            url : base_url + 'dashboard/surat-jalan/get-expedisi?expd_id='+id,
            dataType : 'html',
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("nm_supir").value = data.Nm_Supir;
                document.getElementById("no_polis").value = data.NoTruk;
                document.getElementById("no_telp").value = data.NoTelp;
                document.getElementById("kategori").value = data.katagori;

            }
        })
    }
    
    function selectCustomer(field,base_url){
        let value = field.value;
        $.ajax({
            type : "GET",
            url : base_url + 'dashboard/project/get-project-by-customers?customers='+value,
            dataType : 'html',
            success : function(response){
                let data = JSON.parse(response)
                let rows = data.rows
                $('#reference').html('').select2({data: [{id: '0', text: 'Pilih Project'}]});
                for(let i = 0 ; i < rows.length; i++){
                    let text = rows[i].Projc_ID + ' || ' + rows[i].ProjectName
                    var newOption = new Option(text,rows[i].Projc_ID , false, false);
                    $('#reference').append(newOption).trigger('change');
                }
            }
        });
        $.ajax({
            type:"GET",
            dataType : 'html',
            url : base_url + 'dashboard/customer/get-data-by-id?customers=' + value,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("lokasi").value = data[0].Lokasi
                document.getElementById("no_po").value = data[0].No_PO
                document.getElementById("alamat").value = data[0].alamat
                document.getElementById("telp").value = data[0].Phone

            }
        })
    }
    

</script>

<%- include ('../../components/footer') %> 