<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
    <% if(message.length > 0){ %>
        <p style="display: none" id="message"><%= message %></p>
        <p style="display: none" id="title"><%= titleMessage %></p>
        <p style="display: none" id="icon"><%= icon %></p>
    <% } %>
    
    <div class="content-wrapper">
            
        
        <!-- Content Header (Page header) -->
        <div class="content-header ml-3 mr-3">
            <div class="container-fluid ">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                                <li class="breadcrumb-item"><a href="">Cetak Surat Jalan</a></li>
                            </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content ml-3 mr-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 bg-white shadow p-4 overlay">
                        <div class="row">
                            <div class="col">
                                <h4 class="color-primary text-bold mr-auto">Cetak Data Surat Jalan</h4>
                            </div>
                            <div class="col">
                                <!-- <a href="/dashboard/berita-acara/add" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Project Detail</a>
                                <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                            </div>
                        </div>
                        <hr>
                        <form action="/dashboard/surat-jalan/add" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2">Perusahaan</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <select name="Cust_ID" onchange="selectCustomer(this,'<%= baseURL %>')"  required id="cust_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                    <option value="">Pilih Perusahaan</option>
                                                    <% dataCustomer.forEach(function(customers){ %> 
                                                    <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                                    <% }) %> 
                                                </select>   
                                            </div>
                                            <p style="color: red;" class="mt-2 ml-3" id="rules_perusahaan" hidden="true"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2">Reference</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <select  required id="reference" name="Projc_ID" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                    <option value="">Pilih Project</option>
                                                </select>   
                                            </div>
                                            <p style="color: red;" class="mt-2 ml-3" id="rules_project" hidden="true"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group d-flex justify-content-center">
                                <button type="button" onclick="downloadPdf('<%= baseURL %>')" class="btn bg-navy-dark mr-2">Download PDF</button>
                                <button onclick="showPdf('<%= baseURL %>')" type="button" class="btn bg-navy-dark mr-2">Lihat PDF</button>
                                <a href="/dashboard/surat-jalan/"class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </form>
                        <div class="overlay" id="loading" hidden="true">
                            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </div>
                    </div>
                </div>
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    
    function downloadPdf(baseUrl){
      
        let projdcId = document.getElementById('reference').value
        let custId = document.getElementById('cust_id').value
        let validations = validation(projdcId,custId)
        if(validations == true){
            document.getElementById("loading").hidden = false
                $.ajax({
                type:'get',
                url : baseUrl + 'dashboard/surat-jalan/createPdf?projc_id='+projdcId,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        // downloadFile(baseUrl)
                        window.location = baseUrl + 'dashboard/surat-jalan/download'
                        // window.open('http://stackoverflow.com', '_blank');
                        document.getElementById("loading").hidden = true
                    }
                }
            })
        }
        
    }

    function showPdf(baseUrl){
        let projdcId = document.getElementById('reference').value
        let custId = document.getElementById('cust_id').value
        let validations = validation(projdcId,custId)
        if(validations == true){
            document.getElementById("loading").hidden = false
                $.ajax({
                type:'get',
                url : baseUrl + 'dashboard/surat-jalan/createPdf?projc_id='+projdcId,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        // downloadFile(baseUrl)
                        // window.location = baseUrl + 'dashboard/surat-jalan/download'
                        window.open(`${baseUrl}dashboard/surat-jalan/show`, '_blank');
                        document.getElementById("loading").hidden = true
                    }
                }
            })
        }
    }

    function validation(projdcId,custId){
        if(custId == ''){
            document.getElementById("rules_perusahaan").hidden = false
            document.getElementById("rules_perusahaan").innerHTML = 'Pilih Perusahaan terlebih dahulu ...'
            return false;
        }else{
            document.getElementById("rules_perusahaan").hidden = true
        }
        if(projdcId == '' || projdcId == 0){
            document.getElementById("rules_project").hidden = false
            document.getElementById("rules_project").innerHTML = 'Pilih Project ID terlebih dahulu ...'
            return false
        }else{
            document.getElementById("rules_project").hidden = true

        }
        return true
    }

    // function downloadFile(baseUrl){
    //     $.ajax({
    //         type:'get',
    //         url : baseUrl + 'dashboard/surat-jalan/download',
    //         success : function(response){
    //             console.log(response);
    //         }
    //     })
    // }
    
    function selectCustomer(field,base_url){
        let value = field.value;
        $.ajax({
            type : "GET",
            url : base_url + 'dashboard/surat-jalan/get-project-by-customers?customers='+value,
            dataType : 'html',
            success : function(response){
                let data = JSON.parse(response)
                // let rows = data.rows
                $('#reference').html('').select2({data: [{id: '0', text: 'Pilih Project'}]});
                for(let i = 0 ; i < data.length; i++){
                    let text = data[i].Projc_ID + ' || ' + data[i].ProjectName
                    var newOption = new Option(text,data[i].Projc_ID , false, false);
                    $('#reference').append(newOption).trigger('change');
                }
            }
        });
        $.ajax({
            type:"GET",
            dataType : 'html',
            url : base_url + 'dashboard/customer/get-data-by-id?customers=' + value,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("lokasi").value = data[0].Lokasi
                document.getElementById("no_po").value = data[0].No_PO
                document.getElementById("alamat").value = data[0].alamat
                document.getElementById("telp").value = data[0].Phone

            }
        })
    }
    

</script>

<%- include ('../../components/footer') %> 