<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Tambah Data Project</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Tambah Data Surat Terima</h4>
                        </div>
                        <div class="col">
                            <!-- <a href="/dashboard/berita-acara/add" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Project Detail</a>
                            <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                        </div>
                    </div>
                    <hr>
                    <form action="/dashboard/surat-jalan/change-status-sj" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Perusahaan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select name="Cust_ID" onchange="selectCustomer(this,'<%= baseURL %>')"  required id="cust_id" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Perusahaan</option>
                                                <% dataCustomer.forEach(function(customers){ %> 
                                                <option value="<%= customers.Cust_id %>"><%= customers.Cust_id %> || <%= customers.Company %></option>
                                                <% }) %> 
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Lokasi</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="lokasi" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Lokasi">
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Telp/Fax</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="telp" placeholder="Telp/Fax" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Alamat</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea 
                                            readonly id="alamat" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"></textarea>  
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">No PO</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="no_po" placeholder="No Po" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Operator</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly id="operator" placeholder="Operator" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Jabatan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input readonly required id="jabatan" placeholder="Jabatan" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label for="" class="col-sm-1" style="align-self: center;">Reference</label>
                                    <div class="col-sm-11">
                                        <div class="input-group">
                                            <select onchange="selectSj(this,'<%= baseURL %>')"  required id="reference" name="Projc_ID" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2">
                                                <option value="">Pilih Project</option>
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Penerima</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input name="Penerima" required id="penerima" placeholder="Penerima" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Jabatan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input name="JabPenerima" required id="jab_penerima" placeholder="Jabatan Penerima" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Keterangan</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <textarea name="KetTerima" id="ketTerima" style="background-color: #f2f4f6;border: 0;"class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2">Tgl Terima</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="date" required name="tglTerima" id="tglTerima" style="background-color: #f2f4f6;border: 0;"class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-11">
                                <table id="example1" class="table table-bordered table-striped dataTable " style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Project ID</th>
                                            <th>Alat ID</th>
                                            <th>Alat Detil</th>
                                            <th>Nama alat</th>
                                            <th>Jumlah Kirim</th>
                                            <th>Kembali</th>
                                            <th>Kurang</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
            
                                </table>
                            </div>
                        </div>
                       
                       
                       
                        
                        <div class="form-group d-flex justify-content-center mt-4">
                            <button type="submit" class="btn bg-navy-dark mr-2">Tambah Surat Terima</button>
                            <a href="/dashboard/surat-jalan" class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">
                <div class="modal-header bg-primary2">
                    <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="color: #fff;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="form-group row mt-4">
                            <label for="" class="col-sm-2">Nama Alat</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="" readonly id="nama_alat" placeholder="" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Jumlah Kirim</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="" readonly id="jml_kirim" placeholder="" style="background-color: #f2f4f6;border: 0;"class="form-control readonly"> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Kembali</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="Kembali"  id="kembali" placeholder="" style="background-color: #f2f4f6;border: 0;"class="form-control"> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <p style="color:red" id="message_kembali"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Kurang</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="kurang"  id="kurang" placeholder="" style="background-color: #f2f4f6;border: 0;"class="form-control"> 

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <p style="color:red" id="message_kurang"></p>
                            </div>
                        </div>
                        <input type="hidden" id="id_sj">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn_close" data-dismiss="modal">Close</button>
                    <button type="button" onclick="submitData('<%= baseURL %>')" id="submit" class="btn bg-primary2">Simpan Data</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function submitData(base_url){
        let jmlKirim = document.getElementById("jml_kirim").value
        let kembali = document.getElementById("kembali").value
        let kurang = document.getElementById("kurang").value
        let id_sj = document.getElementById("id_sj").value

        if(parseInt(kembali) > parseInt(jmlKirim)){
            document.getElementById("message_kembali").innerHTML = 'Jumlah Kembali tidak boleh besar dari Jumlah Kirim'
        }else{
            document.getElementById("message_kembali").innerHTML = ''
            
        }
        
        if(parseInt(kurang) > parseInt(jmlKirim)){
            document.getElementById("message_kurang").innerHTML = 'Jumlah Kurang tidak boleh besar dari Jumlah Kirim'
        }else{
            document.getElementById("message_kurang").innerHTML = ''

        }

        $.ajax({
            type:"post",
            url :  base_url + `dashboard/surat-jalan/edit-alat-sj?id_sj=${id_sj}`,
            data : {
                Kembali : kembali,
                kurang : kurang
            },
            cache : false,
            success : function(response){
                let data = response
                if(response.statusCode == 200){
                    loadData(response.data.PROJC_ID,base_url)
                    $("#btn_close").click()
                        swal({
                            title: "Perbarui Sukses",
                            text: "Data surat jalan berhasil diperbarui",
                            icon: "success",
                        });
                }
            }
        })
        
    }   
    function clearTable(){
        $("#example1 tbody").empty();
    }
    
    function loadData(value,base_url){
        clearTable()
        $.ajax({
            type :"GET",
            url:base_url + `dashboard/surat-jalan/get-detil-sj?projc_id=${value}`,
            success : function(response){
                let data = response
                let plus = 1;
                for(let i = 0; i < data.length; i++){
                        var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].PROJC_ID + '</td>');
                        tr.append('<td>' + data[i].Alat_ID + '</td>');
                        tr.append('<td>' + data[i].Alat_Detil + '</td>');
                        tr.append('<td>' + data[i].nama + '</td>');
                        tr.append('<td>' + data[i].JmlKirim + ' '+data[i].Satuan +'</td>');
                        tr.append('<td>' + data[i].Kembali + '</td>');
                        tr.append('<td>' + data[i].kurang + '</td>');
                        
                        tr.append(`<td><div class="d-flex justify-content-center">
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Edit Data">
                                                <button type="button" data-toggle="modal" data-target="#modalEdit" onClick="editSjDetil('${data[i].id}','${data[i].Kembali}','${data[i].kurang}','${data[i].nama}','${data[i].JmlKirim}')" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-edit"></i></button>
                                            </span>
                                            
                                        </div></td>`)
                        $('#example1 tbody').append(tr);
                    }
            }
        })
    }

    function selectSj(field,base_url){
        let value = field.value
        $.ajax({
            type :"GET",
            url:base_url + `dashboard/surat-jalan/get-detil-sj?projc_id=${value}`,
            success : function(response){
                let data = response
                let plus = 1;
                for(let i = 0; i < data.length; i++){
                        var tr = $('<tr>');
                        tr.append('<td>' + plus++ + '</td>');
                        tr.append('<td>' + data[i].PROJC_ID + '</td>');
                        tr.append('<td>' + data[i].Alat_ID + '</td>');
                        tr.append('<td>' + data[i].Alat_Detil + '</td>');
                        tr.append('<td>' + data[i].nama + '</td>');
                        tr.append('<td>' + data[i].JmlKirim + ' '+data[i].Satuan +'</td>');
                        tr.append('<td>' + data[i].Kembali + '</td>');
                        tr.append('<td>' + data[i].kurang + '</td>');
                        
                        tr.append(`<td><div class="d-flex justify-content-center">
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Edit Data">
                                                <button type="button" data-toggle="modal" data-target="#modalEdit" onClick="editSjDetil('${data[i].id}','${data[i].Kembali}','${data[i].kurang}','${data[i].nama}','${data[i].JmlKirim}')" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-edit"></i></button>
                                            </span>
                                            
                                        </div></td>`)
                        $('#example1 tbody').append(tr);
                    }
            }
        })
    }

    function editSjDetil(id,kembali,kurang,nama,jumlahKirim){
        document.getElementById("message_kembali").innerHTML = ''
        document.getElementById("message_kurang").innerHTML = ''
        document.getElementById("nama_alat").value = nama
        document.getElementById("jml_kirim").value = jumlahKirim
        document.getElementById("id_sj").value = id
        document.getElementById("kurang").value = kurang
        document.getElementById("kembali").value = kembali
    }

    function selectCustomer(field,base_url){
        let value = field.value;
        $.ajax({
            type : "GET",
            url : base_url + 'dashboard/surat-jalan/get-data-sj-by-cust?customers='+value,
            dataType : 'html',
            success : function(response){
                let data = JSON.parse(response)
                console.log(data);
                let rows = data.data.rows
                $('#reference').html('').select2({data: [{id: '0', text: 'Pilih Project'}]});
                for(let i = 0 ; i < rows.length; i++){
                    let text = rows[i].Projc_ID + ' || ' + rows[i]._sj_project.ProjectName
                    var newOption = new Option(text,rows[i].Projc_ID , false, false);
                    $('#reference').append(newOption).trigger('change');
                }
            }
        });
        $.ajax({
            type:"GET",
            dataType : 'html',
            url : base_url + 'dashboard/customer/get-data-by-id?customers=' + value,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById("lokasi").value = data[0].Lokasi
                document.getElementById("no_po").value = data[0].No_PO
                document.getElementById("alamat").value = data[0].alamat
                document.getElementById("telp").value = data[0].Phone

            }
        })
    }
    

</script>

<%- include ('../../components/footer') %> 