<%- include ('../../components/header') %>
<%- include ('../../components/navbar') %>
<%- include ('../../components/sidebar') %>
<% if(message.length > 0){ %>
    <p style="display: none" id="message"><%= message %></p>
    <p style="display: none" id="title"><%= titleMessage %></p>
    <p style="display: none" id="icon"><%= icon %></p>
<% } %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3 mr-3">
        <div class="container-fluid ">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1><span style="font-size: 14px;">Selamat Datang di Sistem Informasi ERP Dwitama</span>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item"><a href="">Perbarui Detail Surat Jalan</a></li>
                        </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ml-3 mr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-white shadow p-4">
                    <div class="row">
                        <div class="col">
                            <h4 class="color-primary text-bold mr-auto">Perbarui Detail Surat Jalan</h4>
                        </div>
                        <div class="col">
                            <!-- <a href="/dashboard/project/add-project" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-undo"></i> Kembali</a> -->
                        </div>
                    </div>  
                    <hr>
                    <form action="<%= baseURL %>dashboard/surat-jalan/update" method="post">
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project ID</label>
                            <div class="col-sm-10">
                                <div class="input-group"> 
                                    <input name="PROJC_ID" value="<%= dataSj.Projc_ID %>" readonly id="id_project" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Project name">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Project Name</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="ProjectName" value="<%= dataSj._sj_project.ProjectName %>" readonly id="project_name" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Project name">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">No PO</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="NO_PO" id="no_po" readonly placeholder="No PO" style="background-color: #f2f4f6;border: 0;" type="text" value="<%= dataSj._sj_project.NO_PO %>" class="form-control readonly"> 

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Perusahaan</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="PPN_kode" value="<%= dataSj._sj_customer.Company %>" readonly id="ppn_kode" placeholder="PPN Kode" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Tgl Berangkat</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="Status" readonly value="<%= dataSj.TglBrk %>" id="status" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Status" >

                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Tgl Sampai</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="TGLMULAI" readonly id="tgl_mulai"value="<%= dataSj.TglPerkSampai %>" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Tanggal Mulai">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">No Polis</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="Jenis" readonly id="jenis" value="<%= dataSj.NoPolis %>" placeholder="Jenis" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Nama Supir</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input name="project_title" readonly value="<%= dataSj.NamaSupir%>" id="project_title" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control readonly" placeholder="Project Title" >

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <a data-toggle="modal" onClick="addAlat('<%= baseURL %>','<%= dataSj.Projc_ID %>')" data-target="#modalAlat" href="project/add-project" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Alat</a>
                                <!-- <button onClick="addData('<%= baseURL %>')" data-toggle="modal" data-target="#modalEdit" style="float: right;" class="btn btn-outline-primary-2"> <i class="fa fa-plus"></i> Tambah Data</button> -->
                            </div>
                        </div>
                        <table id="table-alat" class="table table-bordered table-striped mt-2" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Alat ID</th>
                                    <th>Nama</th>
                                    <th>Merk/Tipe</th>
                                    <th>Harga</th>
                                    <th>Satuan</th>
                                    <th>Jumlah Total</th>
                                    <th>Jumlah Dikirim</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i = 1; %> 
                                <% dataAlatSj.forEach(element => { %>
                                    <tr>
                                        <td><%= i++ %> </td>
                                        <td><%= element.Alat_ID %> </td>
                                        <td><%= element.nama %> </td>
                                        <td><%= element.Merk %>/<%= element.type %></td>
                                        <td><%= element.Harga %></td>
                                        <td><%= element.Satuan %></td>
                                        <td><%= element.Jumlah %></td>
                                        <td><%= element.JmlKirim %></td>
                                        <td><div class="d-flex justify-content-center">
                                        
                                            <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                                <button onClick="deleteDataAlat('<%= element.id %>','<%= element.PROJC_ID %>','<%= element.Alat_DetIL %>')" data-toggle="modal" data-target="#modalDeleteAlat" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                    <i class="fa fa-trash"></i></button>
                                            </span>
                                        </div></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>    
                        <hr>
                            <div class="form-group d-flex justify-content-center">
                                <button type="submit"  class="btn bg-navy-dark mr-2">Perbarui Deail Surat Jalan</button>
                                <a href="<%= baseURL %>dashboard/surat-jalan" class="btn btn-outline-primary-2">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="modalAlat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form action="" method="post"> -->
                    <div class="form-group row mt-3">
                        <label for="" class="col-sm-2">Alat</label>
                        <div class="col-sm-10">
                            <select  onchange="selectAlat(this)" required id="id_alat" style="background-color: #f2f4f6;border: 0;" type="text" class="form-control select2 new-form-select">
                               
                            </select>   
                            <p id="notif" hidden="true" style="color:red;">Silahkan Pilih Project terlebih dahulu</p>
                        </div>
                    </div>
                    <input type="hidden" id="id_alat_detail" name="Alat_DetIL">
                    <input type="hidden" id="id_alat_sj" name="Alat_ID">
                    <input type="hidden" id="harga_alat" name="Harga">
                    <input type="hidden" id="satuan_alat" name="Satuan">
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="id_sj_detil" name="id_sj_detil">
                    <input type="hidden" id="sj_form"  name="NoSj" value="<%= dataSj.No_SJ %>">
                    <input type="hidden" id="idproject_form"  name="PROJC_ID" value="<%= dataSj.Projc_ID %>">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Sisa Alat</label>
                        <div class="col-sm-10">
                            <input  required id="sisa" readonly placeholder="Sisa Alat" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control readonly">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Jumlah Kirim</label>
                        <div class="col-sm-10">
                            <input name="JmlKirim"  required id="jumlah_kirim" placeholder="Jumlah" style="background-color: #f2f4f6;border: 0;width:100%;" type="text" class="form-control">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onClick="addData('<%= baseURL %>')"  type="submit" id="submit_alat" class="btn bg-primary2">Tambah Data</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDeleteAlat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header bg-primary2">
                <h5 class="modal-title" id="modal_title">Form Edit Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #fff;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Anda yakin ingin menghapus data alat tersebut?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_close_alat" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btn_delete_alat" class="btn bg-primary2">Hapus Data</button>
            </div>
        </div>
    </div>
</div>
<script>
    
    
    function addData(base_URL){
            $("#submit_alat").attr("disabled","disabled");
            let noSj = $("#sj_form").val();
            let projectId = $("#idproject_form").val();
            let alatDetil = $("#id_alat_detail").val();
            let alatId = $("#id_alat_sj").val();
            let satuan = $("#satuan_alat").val();
            let harga = $("#harga_alat").val();
            let jumlahAwal = $("#sisa").val();   
            let jumlahKirim = $("#jumlah_kirim").val(); 
            let id = $("#id").val(); 
            $.ajax({
                url : base_URL + 'dashboard/surat-jalan/add-detail',
                type : "POST",
                data : {
                    PROJC_ID : projectId,
                    NoSJ : noSj,
                    Alat_ID : alatId,
                    Alat_DetIL : alatDetil,
                    Satuan : satuan,
                    Harga : harga,
                    Jumlah : jumlahAwal,
                    JmlKirim : jumlahKirim,
                    idProjectDetil : id
                },
                cache : false,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        loadData(response.data.NoSJ);
                        $("#btn_close").click()
                        swal({
                            title: "Tambah Sukses",
                            text: "Alat berhasil ditambahkan",
                            icon: "success",
                        });
                    }
                }
            })

    }
    
    function clearTable(){
        $("#table-alat tbody").empty();
    }

    function selectData(field){
        let value = field.value;
        loadData(value);
        loadDataOperator(value)
        if(value != 0){
            $.ajax({
            type : "GET",
            dataType : 'html',
            url : '/dashboard/project/get-detail?id=' + value,
            success : function(response) {
                let data = JSON.parse(response);
                document.getElementById('project_name').value = data.ProjectName;
                document.getElementById('no_po').value = data.NO_PO;
                document.getElementById('ppn_kode').value  = data.PPN_kode;
                document.getElementById('status').value = data.Status;
                document.getElementById('jenis').value = data.Jenis;
                document.getElementById('project_title').value = data.project_title;
                document.getElementById('tgl_mulai').value = data.TGLMULAI;
            }
        })
        }
       
    }

    function loadData(value) {
        clearTable();
        $.ajax({
            type : "GET",
            dataType : 'html',
            url : "/dashboard/surat-jalan/get-table-alat?no_sj="+value,
            success : function(response){
                // let data = JSON.parse(response).rows;
                // let count = JSON.parse(response).count;
                let data = JSON.parse(response);
                var plus = 1;
                for(let i = 0; i < data.length; i++){
                    var tr = $('<tr>');
                    tr.append('<td>' + plus++ + '</td>');
                    tr.append('<td>' + data[i].Alat_ID + '</td>');
                    tr.append('<td>' + data[i].nama + '</td>');
                    tr.append('<td>' + data[i].Merk + '/' + data[i].type + '</td>');
                    tr.append('<td>' + data[i].Harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '</td>');
                    tr.append('<td>' + data[i].Satuan + '</td>');
                    tr.append('<td>' + data[i].Jumlah + '</td>');
                    tr.append('<td>' + data[i].JmlKirim + '</td>');
                    
                    tr.append(`<td><div class="d-flex justify-content-center">
                                        
                                        <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                                            <button onClick="deleteDataAlat('${data[i].id}','${data[i].PROJC_ID}','${data[i].Alat_DetIL}')" data-toggle="modal" data-target="#modalDeleteAlat" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                                                <i class="fa fa-trash"></i></button>
                                        </span>
                                    </div></td>`)
                    // tr.append(`<td><div class="d-flex justify-content-center">
                    //                     <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Ubah Data">
                    //                         <button onClick="updateAlat('<%= baseURL %>','${data[i].Alat_ID}','${data[i].Harga}','${data[i].Satuan}','${data[i].Jumlah}','${data[i].JmlKirim}','${data[i].id
                    //                         }')" data-toggle="modal" data-target="#modalAlat" type="button" class="btn btn-outline-success btn-circle btn-icon btn-sm">
                    //                             <i class="fa fa-edit"></i></button>
                    //                     </span>
                    //                     <span class="ml-1" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Hapus Data">
                    //                         <button onClick="deleteDataAlat('${data[i].id}','${data[i].PROJC_ID}','${data[i].Alat_DetIL}')" data-toggle="modal" data-target="#modalDeleteAlat" type="button" class="btn btn-outline-danger btn-circle btn-icon btn-sm">
                    //                             <i class="fa fa-trash"></i></button>
                    //                     </span>
                    //                 </div></td>`)
                    $('#table-alat tbody').append(tr);
                }
            }
        })
    } 
    
    function deleteDataAlat(id,id_alat,id_alat_detail){
        $("#btn_delete_alat").click(function(){
            deleteAlat(id,id_alat,id_alat_detail)
        })
    }

    function deleteAlat(id,id_alat,id_alat_detail){
        $.ajax({
            type : "GET",
            url : '/dashboard/surat-jalan/delete-alat?id_sj_detil='+id+'&id_alat='+id_alat+'&id_alat_detail='+id_alat_detail,
            success : function(response){
                console.log(response);
                if(response.statusCode == 200){
                    loadData(response.data);
                        $("#btn_close_alat").click()
                        swal({
                            title: "Hapus Sukses",
                            text: "Alat berhasil dihapus",
                            icon: "success",
                        });
                }
            }
        })
    }

    function addAlat(baseURL,idProject){
        $("#submit_alat").removeAttr('disabled');
        $("#submit_alat").removeAttr('onclick');
        $("#submit_alat").attr('onclick','addData("'+baseURL+'")');
        document.getElementById("modal_title").innerHTML = "Form Tambah Alat"
        document.getElementById("submit_alat").innerHTML = "Tambah Alat"
        document.getElementById("notif").hidden = true
        document.getElementById("sisa").value = ""
        document.getElementById("jumlah_kirim").value = ""
        $("#id_alat").html('')
        let first = new Option('-Pilih Alat-','0' , false, false);
        $('#id_alat').append(first).trigger('change');
        $('#id_alat').val("0").trigger('change')
        $.ajax({
            type : 'GET',
            dataType : 'html',
            url : baseURL +'dashboard/surat-jalan/get-detail-alat?id_project='+idProject,
            success : function(response){
                let data = JSON.parse(response);
                let rows = data.rows;
                for(let i = 0 ; i < rows.length; i++){
                    let text = rows[i]._alat.nama + ' || ' + rows[i]._alat_detil.Merk +'/'+ rows[i]._alat_detil.type
                    var newOption = new Option(text,rows[i].id , false, false);
                    $('#id_alat').append(newOption).trigger('change');
                }
            }
        })
    }

    function updateData(base_URL){
        $("#submit_alat").attr("disabled","disabled");
            let projectId = $("#id_project").val();
            let noPo = $("#no_po").val();
            let alatId = $("#id_alat").val();
            let alatIdDetail = $("#alat_detail").val();
            let satuan = $("#satuan").val();
            let harga = $("#harga").val();
            let jumlah = $("#jumlah").val();   
            let jumlahAwal = $("#jumlah_awal").val(); 
            let id = $("#id_alat_project").val(); 
            $.ajax({
                url : base_URL + 'dashboard/project/update-detail',
                type : "POST",
                data : {
                    PROJC_ID : projectId,
                    NO_PO : noPo,
                    Alat_ID : alatId,
                    Alat_DetIL : alatIdDetail,
                    Satuan : satuan,
                    Harga : harga,
                    Jumlah : jumlah,
                    JumlahAwal : jumlahAwal,
                    id : id
                },
                cache : false,
                success : function(response){
                    let data = response;
                    if(response.statusCode == 200){
                        loadData(response.data.PROJC_ID);
                        $("#btn_close").click()
                        swal({
                            title: "Tambah Sukses",
                            text: "Alat berhasil diperbarui",
                            icon: "success",
                        });
                    }
                }
            })
    }

    function updateAlat(baseUrl,alatId,harga,satuan,jumlah,jumlahKirim,id){
        $("#submit_alat").removeAttr('disabled');
        $("#submit_alat").removeAttr('onclick');
        $("#submit_alat").attr('onclick','updateData("'+baseUrl+'")');
    
        document.getElementById("modal_title").innerHTML = "Form Update Alat"
        document.getElementById("submit_alat").innerHTML = "Perbarui Alat"
        document.getElementById("notif").hidden = true
        $('#id_alat').val("0").trigger('change')
        document.getElementById("sisa").value= jumlah
        document.getElementById("jumlah_kirim").value= jumlah
        document.getElementById("id_sj_detil").value= id
        $('#id_alat').val(alatId).trigger('change')
    }

    function selectAlat(field){
        let idAlat = field.value;
        $.ajax({
            type  : "GET",
            dataType : 'html',
            url : '/dashboard/surat-jalan/get-alat-by-alatid?id_project_detail=' + idAlat,
            success : function(response){
                let data = JSON.parse(response);
                document.getElementById('id_alat_detail').value = data.Alat_DetIL                
                document.getElementById('id_alat_sj').value = data.Alat_ID                
                document.getElementById('harga_alat').value = data.Harga                
                document.getElementById('satuan_alat').value = data.Satuan 
                document.getElementById('id').value = data.id 
                if(data.Sisa == null){

                    document.getElementById('sisa').value = data.Jumlah   
                }else{
                    document.getElementById('sisa').value = data.Sisa   

                } 
            }
        })
    }

    
</script>

<%- include ('../../components/footer') %> 