.bg-navy-dark{
    background: #001f3f!important;
    color: #FFF!important;
    
}

.activee{
    background-color: transparent!important;
    border-left: 3px solid #FE7F53!important;
    border-radius: 0px!important;
    
}

.bg-color-primary{
    background: #2744d4!important;
    color: #FFF!important;
}

.bg-red-primary{
    background: #c62828 !important;
    color: #FFF!important; 
}

.bg-color-orange{
    background: #d45a21!important;
    color: #FFF!important;
}

.color-white{
    color: #FFF!important;
}

.badge-white{
    background-color: #001f3f!important;
    color: #FFF!important;
}
.bb-none{
    border-bottom: none!important;
}

.border-none{
    border-radius:0px!important;
}

.activeee{
    background-color: #2c4f72!important;
    color: #fff!important;
}

.max-width100{
    width: 100%!important;
}
div.dataTables_wrapper div.dataTables_filter{
    text-align: right !important;
    margin-left: auto !important;
}
.dataTables_wrapper{
    position: relative !important;
}
.dataTables_wrapper .dt-buttons{
    float: left !important;
}
.dataTables_wrapper input[type="search"]{
    webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    -ms-box-shadow: none!important;
    box-shadow: none!important;
    border: none!important;
    font-size: 12px!important;
    border-bottom: 1px solid #ddd!important;
    color: #000;
}
.dataTables_wrapper .dt-buttons a.dt-button{
    background-color: #607D8B!important;
    color: #fff!important;
    padding: 7px 12px!important;
    margin-right: 5px!important;
    text-decoration: none!important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12)!important;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    -ms-border-radius: 2px!important;
    border-radius: 2px!important;
    border: none!important;
    font-size: 13px!important;
    outline: none!important;
    width: 79%!important;
}
div.dataTables_wrapper div.dataTables_filter label{
    font-weight: normal !important;
    white-space: nowrap!important;
    text-align: left!important;
}

.dataTables_wrapper .dataTables_paginate{
    margin-left: auto!important;
    white-space: nowrap !important;
    text-align: right!important;
}
.pagination > li:first-child > a, .pagination > li:last-child > a{
    width: auto;
    height: 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.pagination li a:focus, .pagination li a:active{
    background-color: transparent;
    color: #555;
}
.pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus, .pagination .disabled a:active{
    color: #bbb;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    color: rgb(0, 0, 0);
    cursor: not-allowed;
    background: #ffffff;
    border-color: 1px solid #eee;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    z-index: 2;
    color: #050505;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > a, .pagination > li > span{
    position: relative;
    float: left;
    padding: 5px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li > a{
    border: none;
    font-weight: bold;
    color: #eee;
    background-color:#2A3038;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2744d4;
    border-color: #2744d4;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #ffffff!important;
    background-color: #17a2b8!important;
    border-color: #17a2b8 #17a2b8 #17a2b8!important;
}

.a-btn:hover{
    cursor: pointer;
}

.btn-circle{
    border-radius: 50%!important;
}